﻿@model IEnumerable<CongNgheWeb_3_0.Models.tbl_Comment>
@{
    ViewBag.Title = "BinhLuanHomNay";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!--heder end here-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Trang chủ</a></li>
    <li class="breadcrumb-item active"> Bình luận hôm nay @DateTime.Now.ToString("dd/MM/yyyy")</li>
</ol>
<!--grid-->
<!-- //tables -->

<div class="agile-grids">
    <div class="agile-tables">

        <div class="w3l-table-info">
            <h2>Danh sách các bình luận hôm nay @DateTime.Now.ToString("dd/MM/yyyy")</h2>
            <br />
            <table id="example" class="display">
                <thead>
                    <tr>
                        <th width="50%">
                           Nội dung
                        </th>
                        <th  width="40%">
                            Học viên
                        </th>
                     
                        <th width="10%">Xóa</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Content)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbl_User.UserName)
                            </td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a href="@Url.Action("DeleteComment","Admin",new {@id=item.ID})" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Xóa">
                                        <i class="fa fa-trash" style="color: #fff;"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



