﻿@model  CongNgheWeb_3_0.Models.tbl_Comment
@{
    ViewBag.Title = "DeleteComment";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Trang chủ</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("BinhLuanHomNay","Admin")">Bình luận hôm nay @DateTime.Now</a></li>
    <li class="breadcrumb-item active">Xóa bình luận</li>
</ol>
<div class="agileinfo-grap text-center">
    <div class="agileits-box">
        <header class="agileits-box-header clearfix">
            <h3>Xóa bình luận</h3>
        </header>
        <div class="agileits-box-body clearfix">
            <p>@Model.Content</p>
            <hr />
            <div class="form-group text-center">
                <div class="col-md-offset-2 col-md-10">
                    <a class="btn btn-success" href="@Url.Action("ConfirmDeleteComment", "Admin", new { @id = Model.ID })">
                        Xóa
                    </a>
                       
                </div>
            </div>
        </div>
    </div>
</div>



