﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!--heder end here-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Trang chủ</a> <i class="fa fa-angle-right"></i></li>
</ol>
<!--four-grids here-->
<div class="four-grids">
    <div class="row">
        <div class="col-md-6 four-grid">
            <a href="@Url.Action("ListChuaDuyet","Admin")">
                <div class="four-agileits">
                    <div class="four-text">
                        <h3>Các khóa học cần duyệt</h3>
                        <h4> @ViewBag.ListKhoaHocGiangVienGuiLen </h4>
                    </div>

                </div>
            </a>

        </div>
        @*<div class="col-md-4 four-grid">
            <a href="@Url.Action("KhoaHocDuocDangKyHomNay","Admin")">
                <div class="four-wthree">
                    <div class="four-text">
                        <h3>Các khóa học đăng ký hôm nay</h3>
                        <h4>@ViewBag.KhoaHocDuocDangKyHomNay</h4>
                    </div>

                </div>
            </a>
        </div>*@
        <div class="col-md-6 four-grid">
            <a href="@Url.Action("BinhLuanHomNay","Admin")">
                <div class="four-agileinfo">

                    <div class="four-text">
                        <h3>Các bình luận hôm nay</h3>
                        <h4>@ViewBag.BinhLuanHomNay</h4>

                    </div>

                </div>
            </a>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

@*<div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body card-padding">
                    <div class="widget">
                        <header class="widget-header">
                            <h4 class="widget-title">Thống kê học viên</h4>
                        </header>
                        <hr class="widget-separator">
                        <div class="widget-body">
                            <div class="streamline">
                                <div class="sl-item sl-primary">
                                    <div class="sl-content">
                                        <small class="text-muted">Tổng số học viên đăng ký tài khoản hôm nay</small>
                                        <p>@ViewBag.HocVienDangKyTKHomNay</p>
                                    </div>
                                </div>
                                <div class="sl-item sl-danger">
                                    <div class="sl-content">
                                        <small class="text-muted">Tổng số học viên tham gia khóa học hôm nay</small>
                                        <p>@ViewBag.HocVienDangKyKHHomNay</p>
                                    </div>
                                </div>
                                <div class="sl-item sl-success">
                                    <div class="sl-content">
                                        <small class="text-muted">40 mins ago</small>
                                        <p>Kate added you to her team</p>
                                    </div>
                                </div>
                                <div class="sl-item">
                                    <div class="sl-content">
                                        <small class="text-muted">45 minutes ago</small>
                                        <p>John has finished his task</p>
                                    </div>
                                </div>
                                <div class="sl-item sl-warning">
                                    <div class="sl-content">
                                        <small class="text-muted">55 mins ago</small>
                                        <p>Jim shared a folder with you</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="col-6">
            <div class="card">
                <div class="card-body card-padding">
                    <div class="widget">
                        <header class="widget-header">
                            <h4 class="widget-title">Thống kê giảng viên</h4>
                        </header>
                        <hr class="widget-separator">
                        <div class="widget-body">
                            <div class="streamline">
                                <div class="sl-item sl-primary">
                                    <div class="sl-content">
                                        <small class="text-muted">Tổng số học viên đăng ký tài khoản hôm nay</small>
                                        <p>Williams has just joined Project X</p>
                                    </div>
                                </div>
                                <div class="sl-item sl-danger">
                                    <div class="sl-content">
                                        <small class="text-muted">Tổng số học viên tham gia khóa học hôm nay</small>
                                        <p>Jane has sent a request for access</p>
                                    </div>
                                </div>
                                <div class="sl-item sl-success">
                                    <div class="sl-content">
                                        <small class="text-muted">40 mins ago</small>
                                        <p>Kate added you to her team</p>
                                    </div>
                                </div>
                                <div class="sl-item">
                                    <div class="sl-content">
                                        <small class="text-muted">45 minutes ago</small>
                                        <p>John has finished his task</p>
                                    </div>
                                </div>
                                <div class="sl-item sl-warning">
                                    <div class="sl-content">
                                        <small class="text-muted">55 mins ago</small>
                                        <p>Jim shared a folder with you</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>*@
<style>
    a:hover {
        text-decoration: none;
    }

    .col-6 {
        background-color: #fff;
    }
</style>