﻿@model IEnumerable<CongNgheWeb_3_0.Models.tbl_Deal>
@{
    ViewBag.Title = "ListChuaDuyet";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!--heder end here-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Trang chủ</a></li>
    <li class="breadcrumb-item active">Các khóa học được đăng ký hôm nay</li>
</ol>
<!--grid-->
<!-- //tables -->

<div class="agile-grids">
    <div class="agile-tables">

        <div class="w3l-table-info">
            <h2>Danh sách các khóa học được đăng ký hôm nay @DateTime.Now.ToString("dd/MM/yyyy")</h2>
            <br />
            <table id="example" class="display">
                <thead>
                    <tr>
                        <th width="30%">
                            @Html.DisplayNameFor(model => model.tbl_Course.CourseName)
                        </th>
                        <th>
                            Giảng viên
                        </th>
                        <th>
                            Danh mục
                        </th>
                        <th>
                            Tổng lượt đăng ký
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbl_Course.CourseName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbl_User.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbl_Course.tbl_Menu.MenuName)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



