﻿@model IEnumerable<CongNgheWeb_3_0.Models.tbl_Course>
@{
    ViewBag.Title = "ListChuaDuyet";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!--heder end here-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Trang chủ</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Course")">Các khóa học</a></li>
</ol>
<!--grid-->
<!-- //tables -->

<div class="agile-grids">
    <div class="agile-tables">

        <div class="w3l-table-info">
            <h2>Danh sách các khóa học cần duyệt</h2>
            <br />
            <table id="example" class="display">
                <thead>
                    <tr>
                        <th width="30%">
                            @Html.DisplayNameFor(model => model.CourseName)
                        </th>
                        <th>
                            Giảng viên
                        </th>
                        <th>
                            Danh mục
                        </th>

                        <th>
                            Trạng thái
                        </th>
                        <th width="5%">Chi tiết</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CourseName)
                            </td>
                             <td>
                                @Html.DisplayFor(modelItem => item.tbl_User.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbl_Menu.MenuName)
                            </td>
                            <td>
                                @if (item.censored == true)
                                {
                                    <a href="@Url.Action("Censored", "Course", new {item.ID})">
                                        <span><i class="fa fa-check" style="color:#0066cc;"></i></span>
                                    </a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Censored", "Course", new {item.ID})">
                                        <span><i class="fa fa-times" style="color:#cc0000;"></i></span>
                                    </a>
                                }
                            </td>
                           
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a href="@Url.Action("Details","Course",new {@id=item.ID})" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Chi tiết">
                                        <i class="fa fa-info-circle" style="color: #fff;"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



