﻿@model IEnumerable<CongNgheWeb_3_0.Models.tbl_User>
@{
    ViewBag.Title = "ListTeacher";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- tables -->
<link href="~/Content/Admin/css/table-style.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/Content/Admin/css/basictable.css" />
<script type="text/javascript" src="~/Content/Admin/js/jquery.basictable.min.js"></script>


<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Trang chủ</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("ListTeacher","Admin")">Danh sách giảng viên</a></li>
</ol>
<!-- //tables -->

<div class="agile-grids">
    <div class="agile-tables">
        <div class="row mb-2 ">
            <div class="col-md-6">
                <a class="btn btn-danger" href="@Url.Action("CreateTeacher","User")"><i class="fa fa-plus"></i> Thêm giảng viên</a>
            </div>
            @*<div class="col-md-6 mr-auto text-right">
                <a class="btn btn-success" href="@Url.Action("CreateTeacher","User")"><i class="fa fa-save"></i> Xuất Excel</a>
                <a class="btn btn-primary" href="@Url.Action("CreateTeacher","User")"><i class="fa fa-paste"></i> Nhập Excel</a>
            </div>*@
        </div>
        <div class="w3l-table-info">
            <h2>Danh sách giảng viên</h2>
            <table id="example" class="display">
                <thead>
                    <tr>
                        <th>Stt</th>
                        <th>@Html.DisplayNameFor(Model => Model.UserName)</th>
                        
                        <th>@Html.DisplayNameFor(Model => Model.Email)</th>
                        <th>@Html.DisplayNameFor(Model => Model.NumberPhone)</th>
                        <th>@Html.DisplayNameFor(Model => Model.SendMail)</th>
                        <th>@Html.DisplayNameFor(Model => Model.Clock)</th>
                        <th width="5%">Hoạt động</th>
                        @*<th width="5%">Sửa</th>
                        <th width="5%">Xóa</th>*@
                    </tr>
                </thead>
                <tbody>
                    @{

                        int i = 1;
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@item.UserName</td>
                                
                                <td>@item.Email</td>
                                <td>
                                    @if (item.NumberPhone == null)
                                    {
                                        <span class="badge badge-primary">Chưa cập nhật</span>
                                    }
                                    else
                                    {
                                        @item.NumberPhone
                                    }
                                </td>
                                <td>
                                    @if (item.SendMail == true)
                                    {
                                        <span class="badge badge-primary">Đã gởi mail</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-danger">Chưa gởi mail</span>
                                    }
                                </td>
                                <td>
                                    @if (item.Clock == true)
                                    {
                                        <a href="@Url.Action("ClockAndUnClock","User",new {@id=item.ID})"><i class="fa fa-times text-danger"></i></a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("ClockAndUnClock","User",new {@id=item.ID})"><i class="fa fa-check text-primary"></i></a>

                                    }
                                </td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <a href="@Url.Action("DetailTeacher","User",new {@id=item.ID})" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Chi tiết">
                                            <i class="fa fa-info-circle" style="color: #fff;"></i>
                                        </a>
                                        <a href="@Url.Action("Edit","User",new {@id=item.ID})" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Sửa">
                                            <i class="fa fa-edit" style="color: #fff;"></i>
                                        </a>
                                        <a href="@Url.Action("Delete","User",new {@id=item.ID})" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Xóa">
                                            <i class="fa fa-trash-o" style="color: #fff;"></i>
                                        </a>
                                    </div>
                                    @*<a href="@Url.Action("Detail","User",new {@id=item.ID})"><i class="fa fa-info-circle fa-2x" style="color: #808080;"></i></a>*@
                                </td>
                                @*<td>
                                    <a href="@Url.Action("Edit","User",new {@id=item.ID})"><i class="fa fa-edit fa-2x" style="color: blue;"></i></a>
                                </td>
                                <td>
                                    <a href="@Url.Action("Delete","User",new {@id=item.ID}) "><i class="fa fa-trash-o fa-2x" style="color: red;"></i></a>
                                </td>*@
                            </tr>
                            i++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<style>
    .btn-group {
        margin: 0px;
    }
</style>
<!--js -->
<script src="~/Content/Admin/js/jquery.nicescroll.js"></script>
<script src="~/Content/Admin/js/scripts.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="~/Content/Admin/js/bootstrap.min.js"></script>
