﻿@model CongNgheWeb_3_0.Models.tbl_User

@{
    ViewBag.Title = "InforOfUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card p-3 mt-2">
    <div class="row">

        <div class="col-8">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.HiddenFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.HiddenFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.HiddenFor(model => model.NumberPhone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NumberPhone, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.HiddenFor(model => model.DescriptionUser, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DescriptionUser, "", new { @class = "text-danger" })
                    </div>
                </div>
                <label>Mật khẩu cũ</label>
                <input type="password" name="OldPassword" class="form-control" />
                <label>Mật khẩu mới</label>
                <input type="password" name="NewPassword" class="form-control" />
                <label>Xác nhận mật khẩu mới</label>
                <input type="password" name="ConfirmNewPassword" class="form-control" />

                @Html.HiddenFor(model => model.UserImage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserImage, "", new { @class = "text-danger" })


                @Html.HiddenFor(model => model.LoginName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LoginName, "", new { @class = "text-danger" })

                @Html.HiddenFor(model => model.PasswordUser, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PasswordUser, "", new { @class = "text-danger" })



                @Html.HiddenFor(model => model.CreateDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CreateDate, "", new { @class = "text-danger" })



                @Html.HiddenFor(model => model.Clock)
                @Html.ValidationMessageFor(model => model.Clock, "", new { @class = "text-danger" })


                @Html.HiddenFor(model => model.Position, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })


                @Html.HiddenFor(model => model.SendMail)
                @Html.ValidationMessageFor(model => model.SendMail, "", new { @class = "text-danger" })


                @Html.HiddenFor(model => model.Notificationed)
                @Html.ValidationMessageFor(model => model.Notificationed, "", new { @class = "text-danger" })


                @Html.HiddenFor(model => model.Deleted)
                @Html.ValidationMessageFor(model => model.Deleted, "", new { @class = "text-danger" })

                <div class="form-group mt-2">
                    <div class="col-md-offset-2 col-md-12">
                        <input type="submit" value="Lưu thay đổi" class="btn btn-danger" />
                        <a href="@Url.Action("InforOfUser","User",new {@id= Session["ID"]})" class=" btn btn-success">Thông tin cá nhân</a>
                        <p class="text-danger">@ViewBag.Status</p>
                    </div>
                </div>
            </div>
            }
        </div>

    </div>
</div>