﻿@model CongNgheWeb_3_0.Models.tbl_User
@{
    ViewBag.Title = "CourseOfTeacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mt-3 p-3 " style="background-color:#fff;">
    <div class="row pl-3">
        <div class="col-12 text-primary" style="font-size:18px;"> 
            Giảng viên <strong>@Model.UserName</strong>
        </div>
    </div>
    <div class="row p-3 text-center">
        <div class="col-4">
            <a  href="@Url.Action("InforOfUser","User",new {@id=Model.ID})">
                <div class="card">
                    <div class="card-body">
                        <i class="fa fa-info-circle fa-2x"></i>
                        <p>Thông tin cá nhân</p>
                    </div>
                </div>
            </a>
            
        </div>
            <div class="col-4">
                <a href="@Url.Action("CreateCourseByTeacher","User",new {@id=Model.ID})">
                    <div class="card">
                        <div class="card-body">
                            <i class="fa fa-plus-circle fa-2x"></i>
                            <p>Tạo khóa học</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a href="@Url.Action("ShowCourseByTeacher","User",new {@id=Model.ID})">
                    <div class="card">
                        <div class="card-body">
                            <i class="fa fa-book fa-2x"></i>
                            <p>Khóa học đã tạo</p>
                        </div>
                    </div>
                </a>
            </div>
       
    </div>
</div>


