﻿
@using CongNgheWeb_3_0.Models

@model IEnumerable<tbl_Course>
@{ tbl_User user = (tbl_User)ViewBag.Student;}

@{
    ViewBag.Title = "ListStudent";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!--heder end here-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Trang chủ</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("ListStudent","User")"> Danh sách học viên</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("ListStudent","User")">Danh sách học viên</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("DetailsStudent","User",new {id=user.ID })">Chi tiết học viên <strong>@user.UserName</strong></a> </li>
    <li class="breadcrumb-item active">Các khóa học đã đăng ký </li>
</ol>
<!--grid-->
<!-- //tables -->

<div class="agile-grids">
    <div class="agile-tables">

        <div class="w3l-table-info">
            <h2>Danh sách các khóa học đã đăng ký</h2>
            @*<br />
                <a class="btn btn-danger" href="@Url.Action("CreateStudent","User")"><i class="fa fa-plus"></i> Thêm học viên</a>*@
            <table id="example" class="display">
                <thead>
                    <tr>
                        <th>
                            Tên khóa học
                        </th>
                        <th>
                            Giảng viên
                        </th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CourseName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbl_User.UserName)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>