﻿@model CongNgheWeb_3_0.Models.tbl_Course

@{<script src="~/Content/ckeditor/ckeditor.js"></script>
    ViewBag.Title = "CreateCourseByTeacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card p-3 mt-2">
    @using (Html.BeginForm("CreateCourseByTeacher", "User", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Tạo khóa học</h4>
            <hr />
            
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.Hidden("UserID")
             <div class="form-group">
                @Html.LabelFor(model => model.MenuID, "MenuID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("MenuID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MenuID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CourseName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CourseName, new { htmlAttributes = new { @class = "form-control", @minlength = "30", @maxlength = "50" } })
                    @Html.ValidationMessageFor(model => model.CourseName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CourseImage, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" name="CourseImage" />
                    @Html.ValidationMessageFor(model => model.CourseImage, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Pirce, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Pirce, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Pirce, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Discount, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Discount, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CourseDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.CourseDescription, new { htmlAttributes = new { @id = "ckeditor", @class = "form-control", @rows = "200" } })
                        <script type="text/javascript" language="javascript">
                                    CKEDITOR.replace(@Html.IdFor(model => model.CourseDescription));
                        </script> 
                    @Html.ValidationMessageFor(model => model.CourseDescription, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Tạo" class="btn btn-primary" />
                    @ViewBag.Status
                </div>
            </div>
        </div>
    }
</div>

