﻿@model CongNgheWeb_3_0.Models.tbl_User

@{
    ViewBag.Title = "DetailTeacher";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Trang chủ</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("ListTeacher","Admin")">Danh sách giảng viên</a></li>
    <li class="breadcrumb-item">
        @if (Model.Position == 3)
        {
            <span>Thông tin giảng viên <strong>@Model.UserName</strong></span>
        }
        else if (Model.Position == 4)
        {
            <span>Thông tin học viên <strong>@Model.UserName</strong></span>
        }
    </li>
</ol>
<div class="agileinfo-grap">
    <div class="agileits-box">
        <div class="row pb-3" style="border-bottom:0.5px solid #ccccff;">
            <div class="col-md-2">
                <img src="@Url.Content("~/Images/Teachers/"+Model.UserImage)" width="150px" class="img-thumbnail" />
            </div>
            <div class="col-md-10 p-3">
                <p>
                    <span class="text-uppercase" style="font-size:30px;">@Model.UserName</span>

                    <br />
                    @{
                        if (Model.Position == 3)
                        {
                            <span class="text-primary" style="font-style:italic">Giảng viên</span>
                            <br />
                            <span class="text-danger" style="font-style:italic">Số bài giảng: @Model.tbl_Course.Count()</span>
                        }
                        else if (Model.Position == 4)
                        {
                            <span class="text-primary" style="font-style:italic">Học viên</span>
                        }
                    }
                    <br />


                </p>
            </div>

        </div>
        <div class="row pb-3 pt-2 pl-4" style="border-bottom:0.5px solid #ccccff;">
            <div class="col-md-2">

            </div>
            <div class="col-md-10">
                <p class="text-primary"><i class="fa fa-bookmark"></i> Mã số: </p>
                <p class="text-primary"><i class="fa fa-envelope"></i> Email: <strong class="text-secondary">@Model.Email</strong></p>
                <p class="text-primary">
                    <i class="fa fa-phone"></i> SĐT:
                    <strong class="text-secondary">
                        @if (Model.NumberPhone == null)
                        {
                            <span>Chưa cập nhật</span>
                        }
                        else
                        {
                            <span>Model.NumberPhone</span>
                        }
                    </strong>
                </p>
                <p class="text-primary">
                    <i class="fa fa-flag-checkered"></i> Tình  trạng:
                    <strong class="text-secondary">
                        @if (Model.Clock == true)
                        {
                            <span>Đã khóa</span>
                        }
                        else
                        {
                            <span>Đăng hoạt động</span>
                        }
                    </strong>
                </p>
            </div>

        </div>
        @{
            if (Model.Position != 4)
            {
                <div class="row pb-3 pt-2 pl-4" style="border-bottom:0.5px solid #ccccff;">
                    <div class="col-md-12">
                        Mô tả
                    </div>
                </div>
                <div class="row pb-3 pt-2 pl-4">
                    <div class="col-md-12">
                        <span class="text-justify">
                            @Model.DescriptionUser
                        </span>

                    </div>
                </div>
            }
        }
        <div class="row ">
            <div class="col-md-12 text-center">
                <a class="btn btn-success" href="@Url.Action("ListTeacher","Admin")"><i class="fa fa-reply"></i>Trở về danh sách</a>
                <a class="btn btn-primary" href="@Url.Action("EidtTeacher","User", new {@id=Model.ID })"><i class="fa fa-edit"></i> Sửa</a>
                <a class="btn btn-danger" href="" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-credit-card"></i> In thẻ giảng viên</a>
            </div>

        </div>

    </div>
</div>
<!-- Modal class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" -->
<div>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Thẻ giảng viên</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header" style="background-color:#fff;">
                        <img src="~/Images/logo.png" width="100px" />
                        &nbsp;
                        <strong class="pt-1"> Trung tâm tạo nguồn E_Class</strong>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-uppercase">@Model.UserName</h3>
                        <span class="small">Giảng viên</span>
                        <div class="row">
                            <div class="col-md-2">
                                <img src="@Url.Content("~/Images/Teachers/"+Model.UserImage)" width="100px" />
                            </div>
                            <div class="col-md-1">
                               
                            </div>
                            <div class="col-md-9">
                                <p><i class="fa fa-qrcode"></i> DPM154136</p>
                                <p><i class="fa fa-phone"></i> @Model.NumberPhone</p>
                                <p><i class="fa fa-envelope-o"></i> @Model.Email</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary">In</button>
            </div>
        </div>
    </div>
</div>