﻿@model CongNgheWeb_3_0.Models.tbl_User

@{<script src="~/Content/ckeditor/ckeditor.js"></script>
    ViewBag.Title = "InforOfUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card p-3 mt-2">
    <div class="row">

        <div class="col-8">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.NumberPhone, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NumberPhone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NumberPhone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Tiểu sử", htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.DescriptionUser, new { htmlAttributes = new { @id = "ckeditor", @class = "form-control", @rows = "200",@width="100%"} })
                            <script type="text/javascript" language="javascript">
                                    CKEDITOR.replace(@Html.IdFor(model => model.DescriptionUser);
                            </script>
                            @Html.ValidationMessageFor(model => model.DescriptionUser, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    @Html.HiddenFor(model => model.UserImage, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserImage, "", new { @class = "text-danger" })


                    @Html.HiddenFor(model => model.LoginName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LoginName, "", new { @class = "text-danger" })

                    @Html.HiddenFor(model => model.PasswordUser, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PasswordUser, "", new { @class = "text-danger" })



                    @Html.HiddenFor(model => model.CreateDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CreateDate, "", new { @class = "text-danger" })



                    @Html.HiddenFor(model => model.Clock)
                    @Html.ValidationMessageFor(model => model.Clock, "", new { @class = "text-danger" })


                    @Html.HiddenFor(model => model.Position, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })


                    @Html.HiddenFor(model => model.SendMail)
                    @Html.ValidationMessageFor(model => model.SendMail, "", new { @class = "text-danger" })


                    @Html.HiddenFor(model => model.Notificationed)
                    @Html.ValidationMessageFor(model => model.Notificationed, "", new { @class = "text-danger" })


                    @Html.HiddenFor(model => model.Deleted)
                    @Html.ValidationMessageFor(model => model.Deleted, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Lưu thay đổi" class="btn btn-danger" />
                            <a href="@Url.Action("ChangePassword","User",new {@id= Session["ID"]})" class=" btn btn-success">Đổi mật khẩu</a>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>
<style>
    #ckeditor {
        width: 100%;
        height: 300px;
    }
</style>