﻿@model CongNgheWeb_3_0.Models.tbl_User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<nav aria-label="breadcrumb">
    <ol class="breadcrumb ">
        <li class="breadcrumb-item text-white"><a href="@Url.Action("Index","Home")" style="color:#fff;">Trang chủ</a></li>
        <li class="breadcrumb-item text-white">Đăng nhập</li>
    </ol>
</nav>
<div class="row pb-5">
    <div class="col-5">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PasswordUser, htmlAttributes: new { @class = "control-label col-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.PasswordUser, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PasswordUser, "", new { @class = "text-danger" })
                    </div>
                </div>

                <br />
                <div class="form-group text-right">
                    <div class="col-md-offset-2 col-md-12">
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-sign-in"></i> Đăng nhập
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-7" id="tab">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><i class="fa fa-heart"></i> Ý kiến</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><i class="fa fa-clock-o"></i> Bài mới</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false"><i class="fa fa-users"></i> Học nhiều</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
        </div>
    </div>
</div>
<style>
    .breadcrumb {
        background-color: #C60001;
    }

    .form-group {
        margin-bottom: 0px;
    }

    .form-control:focus {
        box-shadow: none;
    }

    .form-control {
        border-radius: 0px;
    }

    #tab {
        border-bottom: 1px solid #dee2e6;
        border-left: 1px solid #dee2e6;
        border-right: 1px solid #dee2e6;
        padding-left: 0px;
    }

    .nav-tabs .nav-link {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        background: #C60001;
        color: #fff;
    }

        .nav-tabs .nav-link:focus {
            background-color: forestgreen;
            color: #fff;
        }

    #tab .nav-item {
        float: left;
        width: 33.33%;
    }
</style>
