﻿@model IEnumerable<CongNgheWeb_3_0.Models.tbl_Lession>

@{
    ViewBag.Title = "WatchLession";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card p-3 mt-2">
    <div class="row">
        <div class="col-8">
            <p class="text-primary" style="font-size:25px;">
                @ViewBag.CourseName  
                @{
                            if (Convert.ToInt32(Session["Position"]) == 3 && ViewBag.Censored == false)
                            {
                                <a href="@Url.Action("CreateLessionByTeacher","User",new {@id=ViewBag.CourseID})" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Thêm bài học</a>
                            }
                }
            </p>
           
            <table class="table">
                <tr>
                    <th>
                        STT
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LessionName)
                    </th>

                    <th>Xem</th>
                </tr>
                @{ int i = 0;}
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @i
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LessionName)
                        </td>

                        <td>
                            <a href="@Url.Action("Lession","User",new {@id=item.ID})"><i class="fa fa-toggle-right fa-2x"></i></a>
                            @if (Convert.ToInt32(Session["Position"]) == 3 && ViewBag.Censored == false)
                            {
                                <a href="@Url.Action("SuaBaiHoc","GiangVien",new {@id=item.ID})"><i class="fa fa-edit fa-2x"></i></a>
                            }
                        </td>
                    </tr>
                    i++;
                }

            </table>

        </div>
        <div class="col-4 text-center">
            <div class="card text-center p-3 mt-4">
                <span>Giảng viên</span>
                <br />
                <span class="text-danger" style="font-size:25px;"><strong>@ViewBag.Teacher</strong></span>
                <a href="@Url.Action("InforTeacher","User",new {@id= ViewBag.TeacherID})" class="btn btn-primary" style="width:100px; border-radius:20px; margin-left:124px;">Xem hồ sơ</a>
            </div>
            <div class="card text-center p-3 mt-4">
                <span>@ViewBag.Users</span>
                <br />
                <span style="font-size:25px;"><strong>Đã tham gia</strong></span>
                <a href="@Url.Action("InforTeacher","User",new {@id= ViewBag.Teacher})" class="btn btn-warning" style="width:100px; border-radius:20px; margin-left:124px;">Đánh giá</a>
            </div>
        </div>
    </div>
</div>

