﻿@model CongNgheWeb_3_0.Models.tbl_Lession
@{
    ViewBag.Title = "DeleteLession";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="agileinfo-grap text-center">
    <div class="agileits-box">
        <div class="agileits-box-body clearfix">
            <h3 class="text-danger">Bạn có muốn xóa bài <strong>@Model.LessionName</strong> không</h3>
            <hr />
        </div>
        @using (Html.BeginForm("ConfirmDeleteLession", "GiangVien", FormMethod.Post, new { novalidate = "novalidate" }))
        {
            <div class="form-group text-center">
                <div class="col-md-offset-2 col-md-10">
                    @Html.Hidden("teacherId", Convert.ToUInt32(Session["ID"]))
                    @Html.Hidden("courseId", Model.CourseID)
                    @Html.Hidden("id", Model.ID)
                    <input type="submit" class="btn btn-danger" value="Đồng ý" />
                    @*<a class="btn btn-success" href="@Url.Action("Edit","Lession",new {@id=Model.ID, @CourseID=Model.CourseID})">
            Sửa
        </a>
        <a class="btn btn-primary" href="@Url.Action("Index", "Lession",new {@id=Model.CourseID })">
            Về danh sách
        </a>*@
                </div>
            </div>
        }
    </div>
</div>
