﻿@using CongNgheWeb_3_0.Models
@{ tbl_Lession Lession = (tbl_Lession)ViewBag.Lession;}
@{ IEnumerable<tbl_Lession> ListLession = (IEnumerable<tbl_Lession>)ViewBag.ListLession;}

@{
    ViewBag.Title = "Lession";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mt-2">
    <div class="row">
        <div class="col-8 flex" id="sidenav">
            <div class="header">
                @Lession.LessionName
            </div>
            @Html.Raw(Lession.URLLession)
            <div class="header_2 text-center">
                <div class="row">
                    <div class="col-1">
                        @*<span>
                            @{
                                if (Convert.ToInt32(Session["Position"]) == 3 && Lession.tbl_Course.censored == false)
                                {
                                    <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus"></i> Thêm</a>
                                }
                            }
                        </span>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4" id="List">
            <ul class="list-group text-white">
                <li>
                    <a class="list-group-item list-group-item-action active">
                        Giáo trình
                    </a>
                </li>

                @foreach (var item in ListLession)
                {

                    <li class="list-group-item">
                        <a href="@Url.Action("Lession", "GiangVien", new { @id = item.ID, courseId = item.CourseID, teacherId = Session["ID"] })" style="color:#808080;">
                            <i class="fa fa-toggle-right" style="color:#808080;"></i> @item.LessionName
                        </a>
                    </li>
                    @*if (item.URLLession == Lession.URLLession)
                        {
                            <a href="#" style="color:#000;">
                                <li class="list-group-item bg-light"><i class="fa fa-volume-up" style="color:#000;"></i> @item.LessionName</li>
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("Lession","HocVien",new {@id=item.ID })" style="color:#808080;">
                                <li class="list-group-item"><i class="fa fa-toggle-right" style="color:#808080;"></i> @item.LessionName</li>
                            </a>
                        }*@
                }
            </ul>
        </div>
    </div>
</div>
<style>
    a:hover {
        text-decoration: none;
    }

    #sidenav {
        height: 100%; /* Full-height: remove this if you want "auto" height */
        width: 100%; /* Set the width of the sidebar */
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
        z-index: 1; /* Stay on top */
        top: 74px; /* Stay at the top */
        left: 0;
        background-color: #2C2F37; /* Black */
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 20px;
    }

    #List {
        margin-left: 841px;
        overflow-x: hidden;
        position: fixed;
    }

    .header {
        height: 50px;
        width: 789px;
        background-color: #fff;
        line-height: 50px;
        font-weight: bold;
        padding-left: 10px;
        border-radius: 10px 10px 0px 0px;
    }

    .header_2 {
        height: 50px;
        width: 789px;
        background-color: #fff;
        line-height: 50px;
        font-weight: bold;
        padding-left: 10px;
        border-radius: 0px 0px 10px 10px;
    }

    .blog-footer {
        display: none;
    }
</style>