﻿@model CongNgheWeb_3_0.Models.tbl_Course
@{
    ViewBag.Title = "SendCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-12" style="padding:10px;">
    <div class="card">
        <div class="card-header">
            Gửi khóa học đến quản lý
        </div>
        <div class="card-body">
            <h5 class="card-title">@Model.CourseName</h5>
            <p class="card-text">Tổng số bài học: @Model.tbl_Lession.Count</p>
            <a class="btn btn-danger" href="@Url.Action("ConnfirmSendCourse","GiangVien",new { id=Model.ID})">Gửi</a>
            <a class="btn btn-primary" href="@Url.Action("Index","Course")">Về danh sách</a>
        </div>
    </div>
</div>


