﻿@model CongNgheWeb_3_0.Models.tbl_Course
@{
    ViewBag.Title = "ShowDetailCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card p-3 mt-2">


    <div class="agileinfo-grap text-center">
        <div class="agileits-box">
            <div class="agileits-box-body clearfix text-left">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <img src="@Url.Content("~/Images/Courses/"+Model.CourseImage)" width="200px" />
                        <br />
                        <p><strong class="text-danger">@Html.DisplayFor(model => model.CourseName)</strong></p>
                    </div>
                    <div class="col-md-4">
                        <p>
                            <i class="fa fa-user" style="color:cornflowerblue"></i>&nbsp;
                            <strong> @Html.DisplayFor(model => model.tbl_User.UserName)</strong>
                        </p>
                        
                        <p>
                            <i class="fa fa-calendar" style="color:cornflowerblue"></i>&nbsp;
                            @Html.DisplayFor(model => model.CreateDate)
                        </p>
                        <p>
                            <i class="fa fa-money" style="color:cornflowerblue"></i>&nbsp;
                            @if (Model.Pirce == null)
                            {
                                <span class="badge badge-success">Miễn phí</span>
                            }
                            else
                            {
                                @Html.FormatValue(Model.Pirce, "{0:0,0 VNĐ}")
                            }
                        </p>
                        <p>
                            <span>Giảm giá</span>&nbsp;
                            @if (Model.Discount == null)
                            {
                                <span class="badge badge-success">Không</span>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => Model.Discount)
                            }
                        </p>
                    </div>
                    <div class="col-md-4">
                        <dl class="dl-horizontal">

                            <dd>
                                <i class="fa fa-eye" style="color:cornflowerblue"></i>&nbsp;
                                @Html.DisplayFor(model => model.TotalView)
                            </dd>

                            <dd>
                                <i class="fa fa-users" style="color:cornflowerblue"></i>&nbsp;
                                @Html.DisplayFor(model => model.TotalStudents)
                            </dd>

                            @*<dd>
                                @Html.DisplayNameFor(model => model.censored)
                                @if (Model.censored == true)
                                {
                                    <span class="badge badge-success"><i class="fa fa-check"></i></span>
                                }
                                else
                                {
                                    <span class="badge badge-danger"><i class="fa fa-times"></i></span>
                                }
                            </dd>*@
                            <dd>

                                <a href="@Url.Action("WatchLession","GiangVien",new {@id=Model.ID,teacherId=Session["ID"]})" class="btn btn-primary"><span class="badge badge-light">@Model.tbl_Lession.Count()</span>  Bài học</a>
                            </dd>
                            <dd>
                                @if (Model.Sended == false && Model.censored == false)
                                {
                                    <a href="@Url.Action("SendCourse","GiangVien",new {@id=Model.ID})" class="btn btn-danger">Khóa học chưa được gửi</a>

                                }
                                else if (Model.Sended == true && Model.censored == false)
                                {
                                    <a class="btn btn-warning" style="color:#fff;">Khóa học đang chờ kiểm duyệt</a>
                                }
                                else if(Model.Sended == true && Model.censored == true)
                                {
                                     <a class="btn btn-success" style="color:#fff;">Khóa học đã duyệt</a>
                                }
                            </dd>

                        </dl>
                    </div>
                </div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.CourseDescription)
                    </dt>

                    <dd>
                        <span class="text-justify">@Html.Raw(Model.CourseDescription)</span>

                    </dd>
                </dl>
            </div>
            <footer>
                @using (Html.BeginForm())
                {


                    <a class="btn btn-primary" href="@Url.Action("ShowCourseByTeacher","GiangVien",new {@id=Model.UserID})">
                        Về danh sách
                    </a>

                    if (Model.censored == false)
                    {
                        <a class="btn btn-warning" href="@Url.Action("ShowEditCourse","GiangVien",new {@id=Model.ID})">
                            Sửa
                        </a>
                    }



                }


            </footer>
        </div>
    </div>
</div>
<style>
    .agileits-box {
        padding: 50px;
    }
</style>

