﻿@model CongNgheWeb_3_0.Models.tbl_Course
@{
    ViewBag.Title = "ShowDeleteCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card p-3 mt-2">
    <div class="row">
        <div class="card">
            <div class="card-header">
                Xác nhận xóa khóa học
            </div>
            <div class="card-body">
                <h5 class="card-title">@Model.CourseName</h5>
                <a href="@Url.Action("ConfirmDelete","GiangVien",new {id=Model.ID })" class="btn btn-danger">Xóa</a>
                <a class="btn btn-danger">Danh sách</a>
            </div>
        </div>
    </div>

</div>
