﻿@model IEnumerable<CongNgheWeb_3_0.Models.tbl_Course>
@{
    ViewBag.Title = "ShowCourseByTeacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card p-3 mt-2">

    <div class="row">
        <div class="col-6">
            <a href="@Url.Action("CreateCourseByTeacher","GiangVien",new {@id=Session["ID"]})" class="btn btn-primary mb-3" style="width:150px;">
                <i class="fa fa-plus"></i> Thêm khóa học
            </a>
        </div>

        <div class="col-6 text-right">
            @*<a href="@Url.Action("ShowCourseByTeacher","GiangVien",new {@id=Session["ID"]})" class="btn btn-success mb-3" style="width:150px;">
                <i class="fa fa-list"></i> Tất cả
            </a>*@

            <a href="@Url.Action("ShowCourseNotCensored","GiangVien",new {@id=Session["ID"]})" class="btn btn-danger mb-3" style="width:150px;">
                <i class="fa fa-times-circle-o"></i> Chưa duyệt
            </a>

            <a href="@Url.Action("ShowCourseCensored","GiangVien",new {@id=Session["ID"]})" class="btn btn-info mb-3" style="width:150px;">
                <i class="fa fa-check-circle-o"></i> Đã duyệt
            </a>
        </div>
    </div>
    <p>Tất cả khóa học</p>
    <table class="table" style="width:100%" id="example">
        <thead>
            <tr>
                <th width="150px">
                    @Html.DisplayNameFor(model => model.CourseName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Pirce)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Discount)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.TotalStudents)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.CreateDate)
                </th>


                <th>
                    @Html.DisplayNameFor(model => model.tbl_Menu.MenuName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.censored)
                </th>
               
                <th>Hành động</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </td>

                    <td>
                        @{
                            if (item.Pirce == null)
                            {
                                <span class="badge badge-pill badge-danger">Miễn phí</span>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.Pirce)
                            }
                        }

                    </td>
                    <td>
                        @{
                            if (item.Discount == null)
                            {
                                <span class="badge badge-pill badge-warning">Không</span>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.Discount)
                            }
                        }

                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.TotalStudents)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.tbl_Menu.MenuName)
                    </td>

                    <td>
                        @{
                            if (item.censored == true)
                            {
                                <span class="badge badge-pill badge-primary"><i class="fa fa-check-square"></i> đã duyệt</span>

                            }
                            else
                            {
                                <span class="badge badge-pill badge-danger"><i class="fa fa-times-circle"></i> Chưa duyệt</span>

                            }
                        }
                    </td>
                    <td class="text-center">
                        <div class="btn-group btn-group-sm" role="group">
                            @{
                                if (item.censored == false)
                                {
                                    <a href="@Url.Action("ShowEditCourse", "GiangVien", new { id = item.ID })" class="btn btn-success"><i class="fa fa-cog"></i></a>
                                    <a href="@Url.Action("ShowDetailCourse", "GiangVien", new { id = item.ID })" class="btn btn-warning"><i class="fa fa-info-circle" style="color:#fff;"></i></a>
                                    <a href="@Url.Action("ShowDeleteCourse", "GiangVien", new { id = item.ID })" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                }
                                else
                                {
                                    <a href="@Url.Action("ShowDetailCourse", "GiangVien", new { id = item.ID })" class="btn btn-warning"><i class="fa fa-info-circle" style="color:#fff;"></i></a>
                                }
                            }
                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<style>
    .dataTables_wrapper .dataTables_paginate .paginate_button {
        padding: 0px;
    }
</style>

