﻿@model IEnumerable<CongNgheWeb_3_0.Models.tbl_Lession>

@{
    ViewBag.Title = "WatchLession";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card p-3 mt-2">
    <div class="row">
        <div class="col-12">
            <p class="text-primary" style="font-size:25px;">
                @ViewBag.CourseName
                @{
                    if (Convert.ToInt32(Session["Position"]) == 3 && ViewBag.Censored == false)
                    {
                        if (ViewBag.Sended == false)
                        {
                            <a href="@Url.Action("CreateLessionByTeacher","GiangVien",new {@id=ViewBag.CourseID})" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Thêm bài học</a>
                        }
                    }
                }
            </p>

            <table class="table">
                <tr>
                    <th>
                        STT
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LessionName)
                    </th>

                    <th>Xem</th>
                </tr>
                @{ int i = 0;}
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @i
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LessionName)
                        </td>

                        <td>
                            <a href="@Url.Action("Lession","GiangVien",new {@id=item.ID,courseId=item.CourseID,teacherId=Session["ID"]})"><i class="fa fa-toggle-right fa-2x"></i></a>
                            @if (Convert.ToInt32(Session["Position"]) == 3 && ViewBag.Censored == false )
                            {
                                if (ViewBag.Sended == false)
                                {
                                    @*<a href="@Url.Action("SuaBaiHoc","GiangVien",new {@id=item.ID})"><i class="fa fa-edit fa-2x"></i></a>*@
                                    <a href="@Url.Action("DeleteLession","GiangVien",new {@id=item.ID,@courseId=item.CourseID,@teacherId=Session["ID"]})"><i class="fa fa-trash fa-2x"></i></a>
                                }

                            }
                        </td>
                    </tr>
                    i++;
                }

            </table>

        </div>
       
    </div>
</div>

