﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Xác nhận tài khoản : {{CustomName}}</title>
</head>
<body>
    Thông tin đăng nhập của người dùng : {{CustomName}}
    <br />
    Tên đăng nhập: {{LoginName}}
    <br />
    Mật khẩu: {{Password}}
    <br />
</body>
</html>