﻿<!DOCTYPE HTML>
<html>
<head>
    <title>RCCD - Trực tuyến  | Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Pooled Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/Admin/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/Admin/css/style.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="~/Content/Admin/css/morris.css" type="text/css" />
    <!-- Graph CSS -->
    <link href="~/Content/Admin/css/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="~/Content/Admin/js/jquery-2.1.4.min.js"></script>
    <!-- //jQuery -->
    <link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href="~/Content/Admin/css/icon-font.min.css" type='text/css' />
    <!-- Datatable -->

    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>b
<body>
    <div class="page-container">
        <!--/content-inner-->
        <div class="left-content">
            <div class="mother-grid-inner">
                <!--header start here-->
                <div class="header-main">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="logo-w3-agile bg-light" style="width:100%">
                                <h1><a href="@Url.Action("Index","Home")"><img src="~/Images/logo - Copy.png" width="200px" /></a></h1>
                            </div>
                        </div>
                        <div class="col-md-4">
                            @*<div class="w3layouts-left" style="width:100%">
                                <!--search-box-->
                                <div class="w3-search-box">
                                    <form action="#" method="post">
                                        <input type="text" placeholder="Tìm kiếm" required="">
                                        <input type="submit" value="">
                                    </form>
                                </div><!--//end-search-box-->
                                <div class="clearfix"> </div>
                            </div>*@
                        </div>
                        <div class="col-md-4">
                            <div class="profile_details w3l" style="width:100%">
                                <ul>
                                    <li class="dropdown profile_details_drop">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <div class="profile_img">
                                                <span class="prfil-img"><img src="@Url.Content("~/Images/Teachers/"+Session["UserImage"])" width="50px"> </span>
                                                <div class="user-name">
                                                    <span>@Session["UserName"]</span>
                                                </div>

                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu drp-mnu">
                                            <li> <a href="#"><i class="fa fa-user"></i>Profile</a> </li>
                                            <li> <a href="@Url.Action("Logout","Home")"><i class="fa fa-sign-out"></i>Đăng xuất</a> </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>




                    <div class="clearfix"> </div>
                </div>


                @RenderBody()
                <script>
                    $(document).ready(function () {
                        var navoffeset = $(".header-main").offset().top;
                        $(window).scroll(function () {
                            var scrollpos = $(window).scrollTop();
                            if (scrollpos >= navoffeset) {
                                $(".header-main").addClass("fixed");
                            } else {
                                $(".header-main").removeClass("fixed");
                            }
                        });

                    });
                </script>
                <!-- /script-for sticky-nav -->
                <!--inner block start here-->
                <div class="inner-block">

                </div>
                <!--inner block end here-->
                <!--copy rights start here-->
                <div class="copyrights">
                    <hr />
                    &copy; @DateTime.Now.Year <strong>Trung tâm Tạo nguồn Nhân lực Phát triển Cộng Đồng</strong>
                    <br />
                    Địa chỉ: số 18, Ung Văn Khiêm, phường Đông Xuyên, TP.Long Xuyên, tỉnh An Giang
                    <br />
                    Email: rccd@agu.edu.vn - Website: http://rccd.agu.edu.vn
                    <br />
                    Điện thoại: 0296 2.210.920 - Fax: 02963 842560
                </div>
                <!--COPY rights end here-->
            </div>
        </div>
        <!--//content-inner-->
        <!--/sidebar-menu-->
        <div class="sidebar-menu">
            <header class="logo1">
                <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a>
            </header>
            <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
            <!--Menu for admin-->
            @{
                if (Convert.ToInt32(Session["Position"]) == 1)
                {
                    <div class="menu">
                        <ul id="menu">
                            <li><a href="@Url.Action("Index","Admin")"><i class="fa fa-home"></i><span>Trang chủ</span><div class="clearfix"></div></a></li>


                            <li id="menu-academico"><a href="@Url.Action("ListTeacher","Admin")"><i class="fa fa-envelope nav_icon"></i><span>Quản Lý giảng viên</span><div class="clearfix"></div></a></li>
                            <li id="menu-academico"><a href="@Url.Action("ListStudent","User")"><i class="fa fa-user" aria-hidden="true"></i><span>Quản lý học viên</span><div class="clearfix"></div></a></li>
                            <li id="menu-academico"><a href="@Url.Action("Index","Course")"><i class="fa fa-book"></i><span>Quản lý khóa học</span><div class="clearfix"></div></a></li>
                            <li id="menu-academico">
                                <a href="#"><i class="fa fa-list-ul" aria-hidden="true"></i><span> Tác vụ khác</span> <span class="fa fa-angle-right" style="float: right"></span><div class="clearfix"></div></a>
                                <ul id="menu-academico-sub">
                                    <li id="menu-academico-avaliacoes"><a href="@Url.Action("Index","Menu")">Quản lý danh mục</a></li>
                                    <li id="menu-academico-avaliacoes"><a href="@Url.Action("Index","Slide")">Quản lý slide</a></li>
                                    <li id="menu-academico-avaliacoes"><a href="@Url.Action("Index","Poster")">Quản lý poster</a></li>
                                    <li id="menu-academico-avaliacoes"><a href="faq.html">Faq</a></li>
                                </ul>
                            </li>   @*
                                <li id="menu-academico"><a href="errorpage.html"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i><span>Error Page</span><div class="clearfix"></div></a></li>
                                <li id="menu-academico">
                                    <a href="#"><i class="fa fa-cogs" aria-hidden="true"></i><span> UI Components</span> <span class="fa fa-angle-right" style="float: right"></span><div class="clearfix"></div></a>
                                    <ul id="menu-academico-sub">
                                        <li id="menu-academico-avaliacoes"><a href="button.html">Buttons</a></li>
                                        <li id="menu-academico-avaliacoes"><a href="grid.html">Grids</a></li>
                                    </ul>
                                </li>
                                <li><a href="tabels.html"><i class="fa fa-table"></i>  <span>Tables</span><div class="clearfix"></div></a></li>
                                <li><a href="maps.html"><i class="fa fa-map-marker" aria-hidden="true"></i>  <span>Maps</span><div class="clearfix"></div></a></li>
                                <li id="menu-academico">
                                    <a href="#"><i class="fa fa-file-text-o"></i>  <span>Pages</span> <span class="fa fa-angle-right" style="float: right"></span><div class="clearfix"></div></a>
                                    <ul id="menu-academico-sub">
                                        <li id="menu-academico-boletim"><a href="calendar.html">Calendar</a></li>
                                        <li id="menu-academico-avaliacoes"><a href="signin.html">Sign In</a></li>
                                        <li id="menu-academico-avaliacoes"><a href="signup.html">Sign Up</a></li>


                                    </ul>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-check-square-o nav_icon"></i><span>Forms</span> <span class="fa fa-angle-right" style="float: right"></span><div class="clearfix"></div></a>
                                    <ul>
                                        <li><a href="input.html"> Input</a></li>
                                        <li><a href="validation.html">Validation</a></li>
                                    </ul>
                                </li>*@
                        </ul>
                    </div>
                }
            }

            <!--Menu for teacher-->
            @{
                if (Convert.ToInt32(Session["Position"]) == 3)
                {
                    <div class="menu">
                        <ul id="menu">
                            <li><a href=""><i class="fa fa-home"></i><span>Trang chủ</span><div class="clearfix"></div></a></li>
                            <li id="menu-academico"><a href=""><i class="fa fa-envelope nav_icon"></i><span>Các khóa học của tôi</span><div class="clearfix"></div></a></li>
                        </ul>
                    </div>
                }
            }

        </div>
        <div class="clearfix"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
    <script>
        var toggle = true;

        $(".sidebar-icon").click(function () {
            if (toggle) {
                $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
                $("#menu span").css({ "position": "absolute" });
            }
            else {
                $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
                setTimeout(function () {
                    $("#menu span").css({ "position": "relative" });
                }, 400);
            }

            toggle = !toggle;
        });
    </script>
    <!--js -->
    <script src="~/Content/Admin/js/jquery.nicescroll.js"></script>
    <script src="~/Content/Admin/js/scripts.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/Admin/js/bootstrap.min.js"></script>
    <!-- /Bootstrap Core JavaScript -->
    <!-- morris JavaScript -->
    <script src="~/Content/Admin/js/raphael-min.js"></script>
    <script src="~/Content/Admin/js/morris.js"></script>
    <!--Datatable-->
    <script src="~/Content/DataTables/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            //BOX BUTTON SHOW AND CLOSE
            jQuery('.small-graph-box').hover(function () {
                jQuery(this).find('.box-button').fadeIn('fast');
            }, function () {
                jQuery(this).find('.box-button').fadeOut('fast');
            });
            jQuery('.small-graph-box .box-close').click(function () {
                jQuery(this).closest('.small-graph-box').fadeOut(200);
                return false;
            });

            //CHARTS
            function gd(year, day, month) {
                return new Date(year, month - 1, day).getTime();
            }

            graphArea2 = Morris.Area({
                element: 'hero-area',
                padding: 10,
                behaveLikeLine: true,
                gridEnabled: false,
                gridLineColor: '#dddddd',
                axes: true,
                resize: true,
                smooth: true,
                pointSize: 0,
                lineWidth: 0,
                fillOpacity: 0.85,
                data: [
                    { period: '2014 Q1', iphone: 2668, ipad: null, itouch: 2649 },
                    { period: '2014 Q2', iphone: 15780, ipad: 13799, itouch: 12051 },
                    { period: '2014 Q3', iphone: 12920, ipad: 10975, itouch: 9910 },
                    { period: '2014 Q4', iphone: 8770, ipad: 6600, itouch: 6695 },
                    { period: '2015 Q1', iphone: 10820, ipad: 10924, itouch: 12300 },
                    { period: '2015 Q2', iphone: 9680, ipad: 9010, itouch: 7891 },
                    { period: '2015 Q3', iphone: 4830, ipad: 3805, itouch: 1598 },
                    { period: '2015 Q4', iphone: 15083, ipad: 8977, itouch: 5185 },
                    { period: '2016 Q1', iphone: 10697, ipad: 4470, itouch: 2038 },
                    { period: '2016 Q2', iphone: 8442, ipad: 5723, itouch: 1801 }
                ],
                lineColors: ['#ff4a43', '#a2d200', '#22beef'],
                xkey: 'period',
                redraw: true,
                ykeys: ['iphone', 'ipad', 'itouch'],
                labels: ['All Visitors', 'Returning Visitors', 'Unique Visitors'],
                pointSize: 2,
                hideHover: 'auto',
                resize: true
            });


        });
    </script>

</body>
</html>
<style>
    .page-container {
        margin-top: -22px;
    }
    .profile_details{
        padding:10px 0px 0px 0px;
        height:70px;

    }
</style>
