﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Trung tâm Tạo nguồn Nhân lực Phát triển Cộng đồng</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="~/Content/blog.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    
    <link href="~/Content/datatables.min.css" rel="stylesheet" />
</head>

<body>

    <div class="container-fluid" style="background-color:#EEF1F2;">
        @Html.Partial("~/Views/Home/_PartialNavarbar.cshtml")
        @RenderBody()
    </div>


    <footer class="blog-footer" style="padding:0px;">
        <div class="card p-3">
            @*<div class="row">
                <div class="col-4">
                    <img src="~/Images/logo.png" width="200px"/>
                    <br />
                    <p class="font-weight-light" style="font-size:12px;">Tr</p>
                    <span class="text-danger text-uppercase"> <strong>Cam kết uy tín - chất lượng</strong></span>
                </div>
                <div class="col-4 text-left">
                    <p class="text-uppercase"><strong>Về EClass</strong></p>
                    <p style="text-align:justify">
                        EClass tự hào là "siêu thị" các khóa học trực tuyến ngắn với hàng nghìn khóa học thuộc mọi lĩnh vực, đội ngũ giảng viên chuyên nghiệp, giàu kinh nghiệm và mạng lưới học viên rộng khắp cả nước. EClass - nơi bạn học mọi kĩ năng làm chủ tương lai.
                    </p>
                </div>
                <div class="col-4 text-left">
                    <ul class="list-group list-group-flush">

                        <li class="list-group-item">
                            <img src="~/Images/workspace-aa27fb64e68ea133c0464cb4c5a7977a5986cb6d95623a4ce5ff16557d1bbf41.png" width="50px" />
                            Khóa học phong phú
                        </li>
                        <li class="list-group-item">
                            <img src="~/Images/alarm-clock-cbc32e3e2c8f5e48d6de1a5ea70fe2b3a61b10c1a770673b0f8476242232ee00.png" width="50px" />
                            Tiết kiệm thời gian
                        </li>
                        <li class="list-group-item">
                            <img src="~/Images/trophy-2d39b5b9a0e1bd93c48025666c01c56dde363422d8743580f421c3d4b4a277ee.png" width="50px" />
                            Hiện quả
                        </li>
                        <li class="list-group-item">
                            Khám phá ngay
                            <a href="#" class="btn btn-danger text-white">
                                Trang chủ
                            </a>
                        </li>
                    </ul>
                </div>
            </div>*@
            <div class="row text-dark">
                <div class="col-12">
                    <hr />
                    &copy; @DateTime.Now.Year <strong>Trung tâm Tạo nguồn Nhân lực Phát triển Cộng Đồng</strong>
                    <br />
                    Địa chỉ: số 18, Ung Văn Khiêm, phường Đông Xuyên, TP.Long Xuyên, tỉnh An Giang
                    <br />
                    Email: rccd@agu.edu.vn - Website: http://rccd.agu.edu.vn
                    <br />
                    Điện thoại: 0296 2.210.920 - Fax: 02963 842560
                </div>
                
            </div>
        </div>
       
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Scripts/jquery-3.3.1.slim.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/holder.min.js"></script>
    @*<script src="~/Scripts/jquery-3.3.1New.slim.min.js"></script>
    <script src="~/Scripts/popperNew.min.js"></script>
    <script src="~/Scripts/bootstrapNew.min.js"></script>*@
    <script>
        Holder.addTheme('thumb', {
            bg: '#55595c',
            fg: '#eceeef',
            text: 'Thumbnail'
        });
    </script>
</body>
</html>
<style>
    .dot {
        color: #fff;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        line-height: 50px;
    }

    /*#card img {
        width: 210px;
        height: 200px;
    }

    #card {
        width: 210px;
        height: 300px;
    }*/
    .card-deck a {
        color: black;
    }

        .card-deck a:hover {
            text-decoration: none;
        }

    .card-deck .card-title {
        font-weight: bold;
    }
    .card-deck .card {
        transition: .5s;
    }

        .card-deck .card:hover {
            /*margin-top: -10px;*/
            /*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        }
    .card-title {
        height: 50px;
        overflow: hidden;
        text-transform:uppercase;
    }
    .Card_Teacher {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: .5s;
    }
    .Card_Teacher:hover {
        /*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
         box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
</style>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap4.min.js"></script>
<script src="~/Scripts/datatables.min.js"></script>
<script>
    $(document).ready(function () {

        $('#example').DataTable({
            "language": {
                "lengthMenu": "Hiện thị _MENU_",
                "zeroRecords": "Không có gì để hiển thị",
                "info": "Đang hiển thị _PAGE_ của _PAGES_ trang",
                "infoEmpty": "Không có dữ liệu tồn tại",
                "infoFiltered": "",
                "search": "Tìm kiếm:",
                "Previous": "Trước",
                "Next": "Kế tiếp"
            }
        });

    });
</script>
