﻿@model CongNgheWeb_3_0.Models.tbl_Sort_Course

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<!--heder end here-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Trang chủ</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("ShowSortCourse","Category",new {@id=ViewBag.CourseID})">Các danh mục khóa học @ViewBag.CourseName</a></li>
    <li class="breadcrumb-item active">Tạo danh mục khóa học @ViewBag.CourseName</li>
</ol>
<!--grid-->
<div class="grid-form">
    <div class="grid-form1">
        <h2 id="forms-example" class="">Tạo danh mục khóa học - <span class="text-danger">@ViewBag.CourseName</span></h2>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="id" value="@ViewBag.CourseID" />
            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.SortCourseName, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SortCourseName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SortCourseName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Tạo danh mục khóa học" class="btn btn-danger" />
                        <a class="btn btn-primary" href="@Url.Action("ShowSortCourse", "Category")">
                            Về danh sách khóa học
                        </a>
                        @ViewBag.Status
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!----->
