﻿@model CongNgheWeb_3_0.Models.tbl_Sort_Course

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Trang chủ</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Category")">Các danh mục</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("ShowSortCourse","Category",new {@id=Model.tbl_Category.ID })">Các danh mục khóa học @Model.tbl_Category.CategoryName</a></li>
    <li class="breadcrumb-item">Xóa danh mục : @Model.SortCourseName </li>
</ol>
<div class="agileinfo-grap text-center">
    <div class="agileits-box">
        <header class="agileits-box-header clearfix">
            <h3>Xóa chức vụ <strong>@Model.SortCourseName</strong></h3>
        </header>
        <div class="agileits-box-body clearfix">
            <h3 class="text-danger">Các khóa học có danh mục<strong> @Model.SortCourseName</strong> sẽ bị xóa khỏi danh mục</h3>
        </div>
        <footer>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.ID)
                <input type="submit" class="btn btn-danger" value="Đồng ý" />

                <a class="btn btn-primary" href="@Url.Action("ShowSortCourse", "Category", new {@id=Model.tbl_Category.ID })">
                    Về danh sách
                </a>
            }
        </footer>
    </div>
</div>