﻿@model IEnumerable<CongNgheWeb_3_0.Models.tbl_Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- tables -->
<link href="~/Content/Admin/css/table-style.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/Content/Admin/css/basictable.css" />
<script type="text/javascript" src="~/Content/Admin/js/jquery.basictable.min.js"></script>



<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Trang chủ</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Category")">Các danh mục</a></li>
</ol>
<!-- //tables -->

<div class="agile-grids">
    <div class="agile-tables">

        <div class="w3l-table-info">
            <h2>Danh sách danh mục</h2>
            <a class="btn btn-danger" href="@Url.Action("Create","Category")"><i class="fa fa-plus"></i> Thêm danh mục</a>
            <table id="table" class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CategoryName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Icon)
                        </th>
                        <th width="15%">Danh mục khóa học</th>
                        <th width="10%">Sửa</th>
                        <th width="10%">Xóa</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategoryName)
                        </td>
                        <td style="font-size:30px;">
                            @Html.Raw(item.Icon)
                        </td>
                        <td>
                            <a href="@Url.Action("ShowSortCourse","Category",new {@id=item.ID})" class="btn btn-success btn-sm" style=" border-radius:5px;"><span class="badge badge-light"> @item.tbl_Sort_Course.Where(x => x.Deleted == false).Count()</span>Danh mục khóa học</a>
                        </td>
                        <td>
                            <a href="@Url.Action("Edit","Category",new {@id=item.ID})"><i class="fa fa-gear fa-1x"></i></a>
                        </td>
                        <td>
                            <a href="@Url.Action("Delete","Category",new {@id=item.ID}) "><i class="fa fa-times-circle-o fa-1x"></i></a>

                        </td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>


</div>








<!--js -->
<script src="~/Content/Admin/js/jquery.nicescroll.js"></script>
<script src="~/Content/Admin/js/scripts.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="~/Content/Admin/js/bootstrap.min.js"></script>
