﻿@model CongNgheWeb_3_0.Models.tbl_Lession

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Trang chủ</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Course")">Danh sách khóa học</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Lession",new {@id= ViewBag.CourseID})">Danh sách bài học của <strong>@ViewBag.CourseName</strong></a></li>
    <li class="breadcrumb-item">Tạo bài học cho <strong>@ViewBag.CourseName</strong></li>

</ol>

<!--grid-->
<div class="grid-form">
    <div class="grid-form1">
        <h2 id="forms-example" class="">Tạo khóa học cho <strong>@ViewBag.CourseName</strong></h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <input type="hidden" name="CourseID" value="@ViewBag.CourseID" />
            <div class="form-group">
                @Html.LabelFor(model => model.LessionName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LessionName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LessionName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.URLLession, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.URLLession, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.URLLession, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TotalTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TotalTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TotalTime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Tạo bài học" class="btn btn-danger" />
                    <a href="@Url.Action("Index","Lession",new {@id= ViewBag.CourseID})" class="btn btn-primary">
                        Trở về danh sách bài học
                    </a>
                    @ViewBag.Status
                </div>
               
            </div>
        </div>
        }
    </div>
</div>
