﻿@model CongNgheWeb_3_0.Models.tbl_Lession

@{
    ViewBag.Title = "DetailLession";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!--heder end here-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Trang chủ</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Course")">Các khóa học</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Lession", new {id=Model.tbl_Course.ID})">@Model.tbl_Course.CourseName</a></li>
    <li class="breadcrumb-item active">Chi tiết bài học </li>
</ol>


<div class="agileinfo-grap text-center">
    <div class="agileits-box">
        <div class="agileits-box-body clearfix">
            <h3 class="text-danger">@Model.LessionName - Thời gian @Model.TotalTime phút</h3>
            <hr />
        </div>
        <div class="form-group text-center">
            <div class="col-md-offset-2 col-md-10">
                @Html.Raw(Model.URLLession)
            </div>
        </div>
    </div>
</div>