﻿@using CongNgheWeb_3_0.Models
@using PagedList.Mvc
@model PagedList.PagedList<tbl_Lession>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!--heder end here-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Trang chủ</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Course")">Các khóa học</a></li>
    <li class="breadcrumb-item">Các bài học của <strong>@ViewBag.CourseName</strong> </li>
</ol>

<!--grid-->
<div class="agileinfo-grap text-center">
    <div class="agileits-box">
        <div class="agileits-box-body clearfix text-left m-4">
            <h2>Các bài học của <strong>@ViewBag.CourseName </strong></h2>
            <h6>Có <span class="badge badge-primary">@ViewBag.CountLession</span> bài</h6>
            @*<br />
            <a class="btn btn-danger" href="@Url.Action("Create","Lession",new {@CourseID=ViewBag.CourseID})"><i class="fa fa-plus"></i> Thêm bài học</a>*@

            <table id="example" class="display">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().LessionName)
                        </th>
                        <th  width="12%">
                           Thời gian (phút)
                        </th>

                        <th width="5%">Xem</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LessionName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalTime)
                                </td>

                                <td>
                                    <a href="@Url.Action("DetailLession","Lession",new {@id=item.ID}) " class="text-danger"><i class="fa fa-info-circle" style="color: #808080;"></i></a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    function Show(value) {
        var x = value;
        alert();
    }
</script>