﻿
@model IEnumerable<CongNgheWeb_3_0.Models.tbl_Lession>

<!--heder end here-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Trang chủ</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Course")">Các khóa học</a></li>
    <li class="breadcrumb-item">Các bài học của <strong>@ViewBag.CourseName</strong> </li>
</ol>
<!--grid-->
<div class="agileinfo-grap text-center">
    <div class="agileits-box">
        <div class="agileits-box-body clearfix text-left">
            <br />
            <a class="btn btn-danger" href="@Url.Action("Create","Lesstion")"><i class="fa fa-plus"></i> Thêm bài học</a>
            <table id="table" class="table table-hover table-bordered" style="color:#000;">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.LessionName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.URLLession)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalTime)
                    </th>

                    <th width="5%">Chi tiết</th>
                    <th width="5%">Sửa</th>
                    <th width="5%">Xóa</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LessionName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.URLLession)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalTime)
                        </td>

                        <td>
                            <a href="@Url.Action("Details","Course",new {@id=item.ID})"><i class="fa fa-info-circle fa-2x" style="color: #808080;"></i></a>
                        </td>

                        <td>
                            <a href="@Url.Action("Edit","Course",new {@id=item.ID}) " class="text-danger"><i class="fa fa-edit fa-2x" style="color: #808080;"></i></a>

                        </td>
                        <td>
                            <a href="@Url.Action("Delete","Course",new {@id=item.ID})"><i class="fa fa-trash-o fa-2x" style="color: #808080;"></i></a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>

