﻿@model IEnumerable<CongNgheWeb_3_0.Models.tbl_Deal>

@{
    ViewBag.Title = "CourseOfUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card p-3 mt-2">
    <div class="row">
        <div class="col-12">
            <p>Khóa học đã mua</p>
        </div>

    </div>
    <div class="card-deck text-center">
        @{
            if (ViewBag.Status != null)
            {
                <div class="row text-center" style="width:100%;">
                    <div class="col-12">
                        <p><strong>@ViewBag.Status</strong></p>
                        <a class="btn btn-primary" href="@Url.Action("Index","Home")">
                            Về trang chủ
                        </a>
                    </div>
                </div>
            }
        }

        @foreach (var item in Model)
        {
            <a href="@Url.Action("WatchLession","HocVien",new {@id=item.tbl_Course.ID,studentId=Session["ID"]})">
                <div class="card mb-3" id="card" style="width:250px">
                    <img class="card-img-top" src="@Url.Content("~/Images/Courses/"+item.tbl_Course.CourseImage) " height="150px">
                    <div class="card-body">
                        <p class="card-title text-primary" style="text-overflow:unset;">@item.tbl_Course.CourseName</p>

                    </div>
                    <div class="card-footer">
                        <button class="btn btn-success">Vào lớp học</button>
                    </div>
                </div>
            </a>

        }
    </div>
</div>


