﻿@model CongNgheWeb_3_0.Models.tbl_Menu

@{
    ViewBag.Title = "CreateMenuChild";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!--heder end here-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Trang chủ</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("MenuChild","Menu")">danh sách danh mục</a></li>
    <li class="breadcrumb-item active">Tạo danh mục cho <strong>@ViewBag.MenuParent</strong></li>
</ol>
<!--grid-->
<div class="card text-center p-4">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <input type="hidden" name="ParentID" value="@ViewBag.ParentID" />
            @Html.HiddenFor(model => model.ParentID)
            <div class="form-group">
                @Html.LabelFor(model => model.MenuName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.MenuName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MenuName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-12">
                    
                    <input type="submit" value="Tạo" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Trở về danh sách", "Index")
    </div>
</div>

