﻿@model CongNgheWeb_3_0.Models.tbl_Menu

@{
    ViewBag.Title = "DeleteMenuChild";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!--heder end here-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Trang chủ</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Menu")">danh sách danh mục</a></li>
    <li class="breadcrumb-item active">Xóa danh mục - <strong>@Model.MenuName</strong></li>
</ol>
<!--grid-->
<div class="grid-form">
    <div class="grid-form1">
        <h2 id="forms-example" class="">Banc có muốn xóa @Model.MenuName</h2>

        <div>
            <h4>tbl_Menu</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.MenuName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MenuName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ParentID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ParentID)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Icon)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Icon)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
</div>