﻿@model IEnumerable<CongNgheWeb_3_0.Models.tbl_Menu>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Trang chủ</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Menu")">danh sách danh mục</a></li>
    <li class="breadcrumb-item">danh sách danh mục của <strong>@ViewBag.MenuParent</strong></li>
</ol>
<!-- //tables -->
<div class="agile-grids">
    <div class="agile-tables">
        <div class="w3l-table-info">
            <h2>Danh sách danh mục của <strong>@ViewBag.MenuParent</strong></h2>
            @{ int id = Convert.ToInt32(ViewBag.ParentID);}
            <a class="btn btn-danger" href="@Url.Action("CreateMenuChild","Menu",new {@id= ViewBag.ID})"><i class="fa fa-plus"></i> Thêm danh mục</a>
            <table id="example" class="display">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.MenuName)
                        </th>
                        <th width="10%">Sửa</th>
                        <th width="10%">Xóa</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MenuName)
                            </td>
                            <td>
                                <a href="@Url.Action("Edit","Menu",new {@id=item.ID})"><i class="fa fa-gear fa-1x"></i></a>
                            </td>
                            <td>
                                <a href="@Url.Action("DeleteMenuChild","Menu",new {@id=item.ID}) "><i class="fa fa-times-circle-o fa-1x"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>

