﻿@using CongNgheWeb_3_0.Models;
@model IEnumerable<tbl_Course>

<div class="card p-3 mt-2">
    <div class="row">
        <div class="col-8 ml-2">
            <i class="fa fa-angellist fa-2x dot" style="background-color:#ff9900;"></i>
            <span style="font-size:30px;">Các khóa học miễn phí</span>
        </div>

        <div class="col-3 text-right">
            <a href="@Url.Action("AllCourseOfFree","Home")" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Xem thêm</a>
        </div>
    </div>
    <div class="row mt-3 mb-5">
        <div class="card-deck ml-3">
            @foreach (var item in Model)
            {
                <a href="@Url.Action("DetailCourse","Home",new {@id=item.ID})">
                    <div class="card" id="card" style="width:200px">
                        <img class="card-img-top" src="@Url.Content("~/Images/Courses/"+item.CourseImage) " height="150px">
                        <div class="card-body">
                            <p class="card-title text-primary">@item.CourseName</p>
                            <p class="card-text"><img class="rounded-circle" src="@Url.Content("~/Images/Teachers/"+item.tbl_User.UserImage) " height="40px" width="40px"> @item.tbl_User.UserName</p>
                            <p class="card-text text-muted" style="font-size:12px;">

                                @if (item.Pirce == null)
                                {
                                    <span class="text-danger" style="font-weight:bold">Miễn phí</span>
                                }
                                else
                                {
                                    if (item.Discount != null)
                                    {
                                        <span class="text-primary"><strike>@string.Format("{0:0,0 VNĐ}", item.Pirce)</strike></span>
                                        <span class="text-danger ml-auto" style="float: right;">
                                            @{
                                                var Pirce = item.Pirce.Value * item.Discount.Value / 100;
                                                <span>@string.Format("{0:0,0 VNĐ}", item.Pirce - Pirce)</span>
                                            }
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="text-primary">@string.Format("{0:0,0 VNĐ}", item.Pirce)</span>
                                    }

                                }

                            </p>
                        </div>
                    </div>
                </a>

            }
        </div>
    </div>
</div>
    <style>

        #list_free {
            background-color: #F4F4F4;
        }
        .card-deck {
            padding-left: 30px;
        }
      
    </style>

