﻿@model IEnumerable<CongNgheWeb_3_0.Models.tbl_User>
<div class="card p-3 mt-2">
    <div class="row">
        <div class="col-8 ml-2">
            <i class="fa fa-users fa-2x dot" style="background-color:#ff9900;"></i>
            <span style="font-size:30px;">Giảng viên tiêu biểu</span>
        </div>

       
    </div>
    <div class="row mt-3 mb-5 text-black-50">
            @foreach (var item in Model)
            {
                <div class="col-4">
                    <a href="@Url.Action("InforTeacher","User",new {@id=item.ID})">
                        <div class="card p-3 ml-2 Card_Teacher">
                            <div class="row">
                                <div class="col-4">
                                    <img src="@Url.Content("~/Images/Teachers/"+item.UserImage)" class="rounded-circle" width="100px" />
                                </div>
                                <div class="col-8 pt-4">
                                    <strong style="font-size:20px">@item.UserName</strong>
                                    <br />
                                    <span class="font-italic">
                                        <i class="fa fa-book"></i> Số khóa học @item.tbl_Course.Count()
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
            }
    </div>
</div>
<style>
    .card-deck .card:hover{
        box-shadow:none;
    }
    #List_Teacher{
        display:inline;
    }
    .col-4 a{
        color:#000;
    }
    .col-4 a:hover{
        text-decoration:none;
    }
</style>
