﻿@model IEnumerable<CongNgheWeb_3_0.Models.tbl_Course>
@{
    ViewBag.Title = "AllCourseOfFree";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mt-2 p-3">
    <div class="row ml-4">
        <div class="col-6">
            <p>Danh sách các khóa học</p>
        </div>

    </div>

    <div class="card-deck mb-2">
        @foreach (var item in Model)
        {
            <a href="@Url.Action("DetailCourse","Home",new {@id=item.ID})">
                <div class="card mb-3" id="card" style="width:250px">
                    <img class="card-img-top" src="@Url.Content("~/Images/Courses/"+item.CourseImage) " height="150px">
                    <div class="card-body">
                        <p class="card-title text-primary" style="text-overflow:unset;">@item.CourseName</p>
                        <p class="card-text"><img class="rounded-circle" src="@Url.Content("~/Images/Teachers/"+item.tbl_User.UserImage) " height="40px" width="40px"> @item.tbl_User.UserName</p>
                        <p class="card-text text-muted" style="font-size:12px;">

                            @if (item.Pirce == null)
                            {
                                <span class="text-danger" style="font-weight:bold">Miễn phí</span>
                            }
                            else
                            {
                                if (item.Discount != null)
                                {
                                    <span class="text-primary"><strike>@string.Format("{0:0,0 VNĐ}", item.Pirce)</strike></span>
                                    <span class="text-danger ml-auto" style="float: right;">
                                        @{
                                            var Pirce = item.Pirce.Value * item.Discount.Value / 100;
                                            <span>@string.Format("{0:0,0 VNĐ}", item.Pirce - Pirce)</span>
                                        }
                                    </span>
                                }
                                else
                                {
                                    <span class="text-primary">@string.Format("{0:0,0 VNĐ}", item.Pirce)</span>
                                }

                            }

                        </p>
                    </div>
                </div>
            </a>
        }
    </div>
</div>

