﻿@model IEnumerable<CongNgheWeb_3_0.Models.tbl_Course>

@{
    ViewBag.Title = "CourseByMenuID";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card p-3 mt-2">
    <div class="row">
        <div class="col-md-1 text-right">
            @Html.Raw(ViewBag.CourseIcon)
            <i class="fa fa-diamond fa-2x dot" style="background-color:#ff9900;"></i>
        </div>
        <div class="col-md-10">
            <p style="font-size:30px;">Các khóa học @ViewBag.CourseName <span class="font-weight-light">(@ViewBag.CourseCount khóa học)</span></p>
        </div>
    </div>
        <div class="card-deck">
            @foreach (var item in Model)
            {
                <a href="@Url.Action("DetailCourse","Home",new {@id=item.ID,@userId=Session["ID"]})">
                    <div class="card mb-3" id="card" style="width:250px">
                        <img class="card-img-top" src="@Url.Content("~/Images/Courses/"+item.CourseImage) " height="150px">
                        <div class="card-body">
                            <p class="card-title text-primary" style="text-overflow:unset;">@item.CourseName</p>
                            <p class="card-text"><img class="rounded-circle" src="@Url.Content("~/Images/Teachers/"+item.tbl_User.UserImage) " height="40px" width="40px"> @item.tbl_User.UserName</p>
                            <p class="card-text">
                                @*<small class="text-muted">
                                    @if (item.Pirce == null)
                                    {
                                        <span class="text-danger" style="font-weight:bold">Miễn phí</span>
                                    }
                                    else
                                    {
                                        if (item.Discount != null)
                                        {
                                            <span class="text-primary"><strike>@string.Format("{0:0,0 VNĐ}", item.Pirce)</strike></span>
                                            <span class="text-danger" style="padding-left: 55px;">
                                                @{
                                                    var Pirce = item.Pirce.Value * item.Discount.Value / 100;
                                                    <span>@string.Format("{0:0,0 VNĐ}", item.Pirce - Pirce)</span>
                                                }
                                            </span>
                                           
                                        }
                                        else
                                        {
                                            <span class="text-primary">@string.Format("{0:0,0 VNĐ}", item.Pirce)</span>
                                        }

                                    }
                                </small>*@
                            </p>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
<style>
    .card-title{
        height:50px;
        overflow:hidden;
    }
</style>

