﻿@model CongNgheWeb_3_0.Models.tbl_Course

@{
    ViewBag.Title = "DetailCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*style="background-color:#fff;*@
<div class="container pt-2 pb-4">
    <div class="row mb-2 p-4" style="background-color:#fff; border-radius:15px;">
        <div class="col-md-6">
            <img src="@Url.Content("~/Images/Courses/"+Model.CourseImage)" class="img-thumbnail" width="500px" height="500px" />
        </div>
        <div class="col-md-6">
            <p class="text-primary" style="font-size:20px; font-weight:bold">@Model.CourseName</p>


            <p class="text-danger" style="font-size:20px; font-weight:bold">
                @if (Model.Pirce == null)
                {
                    <span>Miễn phí</span>
                }
                else
                {
                    <span>@string.Format("{0:0,0 VNĐ}", Model.Pirce)</span>
                }
            </p>
            @{
                @*if (Model.tbl_Lession.Count() == 0)
                    {
                        <button class="btn btn-primary">Khóa học đang được cập nhật</button>
                    }
                    else
                    {*@
                if (Session["ID"] == null)
                {
                    <a class="btn btn-primary" href="@Url.Action("Login","Home")"><i class="fa fa-sign-in"></i> Đăng nhập để học</a>
                }
                else
                {
                    <a class="btn btn-success" href="@Url.Action("Create","Deal",new {@UserID=Session["ID"],@CourseID=Model.ID})"><i class="fa fa-reddit"></i> Mua khóa học</a>
                }
                @*<button class="btn btn-primary">Xem video giới thiệu</button>*@
                @ViewBag.Status
            }
            <ul class="list-group list-group-flush mt-4">
                <li class="d-flex justify-content-between align-items-center"><i class="fa fa-users"></i> Số người học <span class="ml-auto">@Model.TotalStudents</span></li>
                <li class="list-group-item d-flex justify-content-between align-items-center"><i class="fa fa-eye"></i> Số lượt xem <span class="ml-auto">@Model.TotalView</span></li>
                <li class="list-group-item d-flex justify-content-between align-items-center"><i class="fa fa-clock-o"></i> Tổng thời gian <span class="ml-auto">@Model.TotalView</span></li>
                <li class="list-group-item"><i class="fa fa-repeat"></i> Học trọn đời</li>
                <li class="list-group-item"><i class="fa fa-hand-o-right"></i> Học trên mọi thiết bị</li>
            </ul>

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light" style="color:#000; font-weight:bold;">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#CourseDescription">Tổng quan</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#ListLession">Nội dung</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Teacher">Giảng viên</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Comment">Đánh giá</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

    </div>
    <div class="row mt-3 p-2" id="CourseDescription" style="border-radius:15px;">
        <div class="col-12">
            <strong>Tổng quan</strong>
        </div>
        <hr />
        <div class="col-12">
            <p><strong> @Model.CourseName</strong></p>
            <p class="text-justify">@Html.Raw(Model.CourseDescription)</p>
        </div>
    </div>
    <div class="row mt-3 p-2" id="ListLession">
        <div class="col-12">
            <strong>Nội dung bài học</strong>
        </div>
        <hr />
        <div class="col-12">
            <table class="table table-bordered mt-2">
                <thead>
                    <tr>
                        <td>Số thứ tự</td>
                        <td>Tên bài học</td>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 1;
                        var ListLession = Model.tbl_Lession.OrderBy(x => x.LessionName);
                        foreach (var item in ListLession)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@item.LessionName</td>
                            </tr>
                            i++;
                        }

                    }

                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-3 p-2" id="Teacher">
        <div class="col-4 text-center">
            <img src="@Url.Content("~/Images/Teachers/"+Model.tbl_User.UserImage)" class="rounded-circle" height="100px" width="100px" />
            <p>Giảng viên</p>
            <p><strong>@Model.tbl_User.UserName</strong></p>
            <p>Khóa học @Model.tbl_User.tbl_Course.Count()</p>
        </div>
        <hr />
        <div class="col-8">
            <p style="color:cornflowerblue">Tiểu sử</p>

            <p>@Html.Raw(Model.tbl_User.DescriptionUser)</p>
        </div>
    </div>
    <div class="row mt-3 p-2" id="Comment">
        <div class="col-12">
            <strong>Đánh giá</strong>
        </div>
        <hr />
        <div class="col-12">

        </div>
    </div>


</div>
<style>
    .list-group-item {
        padding: 2px;
    }

    .row {
        background-color: #fff;
        border-radius: 15px;
    }
</style>
