﻿@model CongNgheWeb_3_0.Models.tbl_Course
@{ IEnumerable<CongNgheWeb_3_0.Models.tbl_Comment> listComment = (IEnumerable<CongNgheWeb_3_0.Models.tbl_Comment>)ViewBag.Comment;}
@{
    ViewBag.Title = "DetailCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container pt-2 pb-4">
    <div class="row mb-2 p-4" style="background-color:#fff; border-radius:15px;">
        <div class="col-md-6">
            <img src="@Url.Content("~/Images/Courses/"+Model.CourseImage)" class="img-thumbnail" width="500px" height="500px" />
        </div>
        <div class="col-md-6">
            <p class="text-primary" style="font-size:20px; font-weight:bold">@Model.CourseName</p>


            <p class="text-danger" style="font-size:20px; font-weight:bold">
                @if (Model.Pirce == null)
                {
                    <span>Miễn phí</span>
                }
                else
                {
                    if (Model.Discount == null)
                    {
                        <span>@string.Format("{0:0,0 VNĐ}", Model.Pirce)</span>
                    }
                    else
                    {

                        <span class="text-danger">
                            @{
                                var Pirce = Model.Pirce.Value * Model.Discount.Value / 100;
                                <span class="font-italic">Tiết kiệm @Model.Discount % </span>
                                <br />
                                <span>@string.Format("{0:0,0 VNĐ}", Model.Pirce - Pirce)</span>
                            }
                        </span>
                        <span class="text-primary" style="padding-left:255px;"><strike> @string.Format("{0:0,0 VNĐ}", Model.Pirce)</strike></span>
                    }

                }
            </p>
            @{
                if (Model.tbl_Lession.Count() == 0)
                {
                    <button class="btn btn-primary">Khóa học đang được cập nhật</button>
                }
                else
                {
                    if (Session["ID"] == null)
                    {
                        <a class="btn btn-primary" href="@Url.Action("Login","Home")"><i class="fa fa-sign-in"></i> Đăng nhập để học</a>
                    }
                    else
                    {
                        if (Session["Position"].ToString() == "4")
                        {
                            if (ViewBag.HasCourse == 1)
                            {

                                <a class="btn btn-success" href="@Url.Action("WatchLession","HocVien",new {id=Model.ID,studentId=Session["ID"]})"><i class="fa fa-reddit"></i> Vào lớp học</a>
                            }
                            else
                            {
                                <a class="btn btn-warning" href="@Url.Action("CreateDeal","HocVien",new {@UserID=Session["ID"],@CourseID=Model.ID})"><i class="fa fa-reddit"></i> Đăng ký học</a>
                            }
                        }
                        else
                        {
                            <button class="btn btn-danger">
                                Tài khoản này không phù hợp để đăng ký học
                            </button>
                        }

                    }



                }
                @ViewBag.Status
            }
            <ul class="list-group list-group-flush mt-4">
                @{
                    if (Model.Pirce != null)
                    {
                        <li class="d-flex justify-content-between align-items-center"><i class="fa fa-users"></i> Số người học <span class="ml-auto">@Model.TotalStudents</span></li>
                    }
                }
                <li class="list-group-item d-flex justify-content-between align-items-center"><i class="fa fa-eye"></i> Số lượt xem <span class="ml-auto">@Model.TotalView</span></li>
                <li class="list-group-item d-flex justify-content-between align-items-center"><i class="fa fa-clock-o"></i> Tổng thời gian <span class="ml-auto">~ @Model.tbl_Lession.Sum(x => x.TotalTime) Phút</span></li>
                <li class="list-group-item"><i class="fa fa-repeat"></i> Học trọn đời</li>
                @*<li class="list-group-item"><i class="fa fa-hand-o-right"></i> Học trên mọi thiết bị</li>*@
            </ul>

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light" style="color:#000; font-weight:bold;">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#CourseDescription">Tổng quan</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#ListLession">Nội dung</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Teacher">Giảng viên</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Comment">Đánh giá</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

    </div>
    <div class="row mt-3 p-2" id="CourseDescription" style="border-radius:15px;">
        <div class="col-12">
            <strong>Tổng quan</strong>
        </div>
        <hr />
        <div class="col-12">
            <p><strong> @Model.CourseName</strong></p>
            <p class="text-justify">
                @*<span id="show">@Html.Raw(Model.CourseDescription.Substring(0, 400))</span>
        <span id="dots">...</span><span id="more">@Html.Raw(Model.CourseDescription)</span>*@
                @Html.Raw(Model.CourseDescription)
            </p>
            @*<a onclick="myFunction()" id="myBtn" style="color:#2840f8;font-weight:bold;">Xem thêm</a>*@
            
        </div>
    </div>
    <div class="row mt-3 p-2" id="ListLession">
        <div class="col-12">
            <strong>Nội dung bài học</strong>
        </div>
        <hr />
        <div class="col-12">
            <table class="table table-bordered mt-2">
                <thead>
                    <tr>
                        <td>Số thứ tự</td>
                        <td>Tên bài học</td>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 1;
                        var ListLession = Model.tbl_Lession.OrderBy(x => x.LessionName).Take(3);
                        foreach (var item in ListLession)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@item.LessionName</td>
                            </tr>
                            i++;
                        }

                    }

                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-3 p-2" id="Teacher">
        <div class="col-4 text-center">
            <img src="@Url.Content("~/Images/Teachers/"+Model.tbl_User.UserImage)" class="rounded-circle" height="100px" width="100px" />
            <p>Giảng viên</p>
            <p><strong>@Model.tbl_User.UserName</strong></p>
            <p>Khóa học @Model.tbl_User.tbl_Course.Count()</p>
            <a href="@Url.Action("InforTeacher","User",new {@id= Model.UserID})" class="btn btn-primary" style="width:100px; border-radius:20px; margin-left:-3px;">Xem hồ sơ</a>
        </div>
        <hr />
        <div class="col-8">
            <p style="color:cornflowerblue">Tiểu sử</p>

            <p>@Html.Raw(Model.tbl_User.DescriptionUser)</p>
        </div>
    </div>
    <div class="row mt-3 p-2" id="Comment">
        <div class="col-12">
            <strong>Đánh giá</strong>
        </div>
        <hr />
        @{
            if (Session["ID"] != null)
            {
                if (Session["Position"].ToString() == "4")
                {
                    if (ViewBag.HasCourse == 1)
                    {
                        using (Html.BeginForm("Comment", "HocVien", FormMethod.Post, new { novalidate = "novalidate" }))
                        {
                            <form class="form-group">
                                <div class="row" style="margin-left: -7px;">
                                    <div class="col-10">
                                    @Html.TextBox("content",null, new { @class = "form-control" })
                                    @Html.Hidden("studentId", Convert.ToUInt32(Session["ID"]))
                                    @Html.Hidden("courseId", Model.ID)
                                    </div>
                                    <div class="col-2">
                                        <input class="btn btn-primary" type="submit" value="Bình luận" />
                                    </div>
                                </div>
                            </form>
                           
                            
                        }

                        <hr />
                    }

                }
            }
        }
       
    </div>
    <div class="card">
        @foreach (var item in listComment)
        {
            <div class="media border p-3">
                <img src="~/Images/Students/@item.tbl_User.UserImage" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                <div class="media-body">
                    <strong>@item.tbl_User.UserName <small><i>@item.CreateDay.Value.ToString("dd/MM/yyyy")</i></small></strong>
                    <p>@item.Content</p>
                </div>
            </div>
        }
    </div>
       
</div>
<style>
    .list-group-item {
        padding: 2px;
    }
    .row {
        background-color: #fff;
        border-radius: 15px;
    }
    #more {
        display: none;
    }
    #myBtn:hover{
       cursor:pointer;
    }
</style>
<script>
    function myFunction() {
        var dots = document.getElementById("dots");
        var moreText = document.getElementById("more");
        var btnText = document.getElementById("myBtn");

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Xem thêm";
            moreText.style.display = "none";
           
        } else {
            dots.style.display = "none";
            btnText.innerHTML = "Thu gọn";
            moreText.style.display = "inline";
        }
    }
</script>
