﻿@using CongNgheWeb_3_0.Models
@{ IEnumerable<tbl_Course> ListCourse = (IEnumerable<tbl_Course>)ViewBag.ListCourse;}
@{ IEnumerable<tbl_Course> ListNew = (IEnumerable<tbl_Course>)ViewBag.ListNew;}
@{ IEnumerable<tbl_Slide> ListSilde = (IEnumerable<tbl_Slide>)ViewBag.ListSilde;}
@{ IEnumerable<tbl_User> Teacher = (IEnumerable<tbl_User>)ViewBag.Teacher;}

@{
    ViewBag.Title = "Home Page";
}

@Html.Action("Show", "Poster")

<!---->
@*<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="height:7px; background:#DF322F;"></div>
    </div>
</div>*@
@*<div class="jumbotron jumbotron-fluid  bg-light" id="jumbotron">

    <div class="container">

        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-1">
                <i class="fa fa-youtube-play fa-4x" style="color:#DF322F;"></i>
            </div>
            <div class="col-md-2">

                <strong>1000+</strong>
                <p>khóa học</p>
            </div>
            <div class="col-md-1 mt-2">
                <i class="fa fa-ellipsis-v fa-3x" style="color:#808080; opacity:.5;"></i>
            </div>
            <div class="col-md-1">
                <i class="fa fa-users fa-4x" style="color:#DF322F;"></i>
            </div>
            <div class="col-md-2">
                <strong>100.000+</strong>
                <p>Học viên</p>
            </div>
            <div class="col-md-1 mt-2">
                <i class="fa fa-ellipsis-v fa-3x" style="color:#808080; opacity:.5;"></i>
            </div>
            <div class="col-md-1">
                <i class="fa fa-bookmark fa-4x" style="color:#DF322F;"></i>
            </div>
            <div class="col-md-2">
                <strong>100+</strong>
                <p>Giảng viên</p>
            </div>
        </div>
    </div>
</div>*@
@* Slide *@



@Html.Partial("ShowSlide", ListSilde)

@* Slide *@


@*@Html.Partial("_PartialFreeCourse", ListCourse)*@
@Html.Partial("_PartialNewCourse", ListNew)
@*<div class="container mt-2">
    <div class="card text-center">
        <div class="row">

            <div class="col-2">
                <a href="@Url.Action("AllCourseOfNew","Home")">
                    <i class="fa fa-list-ul fa-3x"></i>
                    <p>Tất cả</p>
                </a>
            </div>
            <div class="col-2">
                <a href="@Url.Action("AllCourseOfNgoaiNgu","Home")">
                    <i class="fa fa-audio-description fa-3x"></i>
                    <p> Ngoại ngữ</p>
                </a>
            </div>
            <div class="col-2">
                <a href="@Url.Action("AllCourseOfLapTrinh","Home")">
                    <i class="fa fa-desktop fa-3x"></i>
                    <p> Lập trình</p>
                </a>
            </div>
            <div class="col-2">
                <a href="@Url.Action("AllCourseOfKyNangSong","Home")">
                    <i class="fa fa-puzzle-piece fa-3x"></i>
                    <p> Kỹ năng sống</p>
                </a>
            </div>
            <div class="col-2">
                <a href="@Url.Action("AllCourseOfNuoiDayCon","Home")">
                    <i class="fa fa-universal-access fa-3x"></i>
                    <p> Nuôi dạy con</p>
                </a>
            </div>
            <div class="col-2">
                <a href="@Url.Action("AllCourseOfKinhDoanh","Home")">
                    <i class="fa fa-briefcase fa-3x"></i>
                    <p> Kinh doanh</p>
                </a>
            </div>


        </div>
    </div>
</div>*@
@Html.Partial("_PartialTeacher", Teacher)
<style>
    #jumbotron {
        padding: 10px 0px;
        margin-bottom: 0px;
    }
    .col-2 a {
        color: #404040;

    }
    .col-2 a p{
        font-weight:bold;
    }
    .col-2 a:hover {
        text-decoration:none;
        background-color: #DF322F;
        color: #fff;
    }
    .col-2{
        padding:10px;
        border-radius:10px;
    }
    .col-2:hover{
        background-color: #DF322F;
        color: #fff;
        cursor:pointer;
    }
    .card-text{
        font-size:13px;
    }
</style>
<script>
    $('.carousel').carousel({
        interval: 1000
    })
</script>
