﻿@using CongNgheWeb_3_0.Models

@{ tbl_User User = (tbl_User)ViewBag.Teacher;}
@{ IEnumerable<tbl_Course> Course = (IEnumerable<tbl_Course>)ViewBag.Course;}
@{
    ViewBag.Title = "InforTeacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mt-2">
    <div class="row p-3 mt-3">
        <div class="col-4">

        </div>
        <div class="col-2">
            <img src="@Url.Content("~/Images/Teachers/"+User.UserImage)" class="img-thumbnail" width="100ppx">
        </div>
        <div class="col-4">
            <p style="font-size:20px;"><i class="fa fa-user"></i> <strong>@User.UserName</strong></p>
            <p><i class="fa fa-phone-square"></i> @User.NumberPhone</p>
            <p><i class="fa fa-envelope"></i> @User.Email</p>
        </div>
    </div>
    <div class="row p-3 text-center">
        <div class="col-12">
            <p><strong>Tiểu sử</strong></p>
            <p style="text-align:justify;">
                @User.DescriptionUser
            </p>
        </div>
    </div>

</div>
<div class="card mt-2 p-3">
    <div class="row">
        <div class="col-6">
            <p>Các khóa học của giảng viên</p>
        </div>
        <div class="col-6 text-right">
            <a href="@Url.Action("AllCourseOfTeacher","Home",new {@id=User.ID})" class="btn btn-primary btn-sm "><i class="fa fa-plus"></i>Xem tất cả</a>
        </div>
    </div>

    <div class="card-deck">
        @foreach (var item in Course)
        {
            <a href="@Url.Action("DetailCourse","Home",new {@id=item.ID})">
                <div class="card mb-3" id="card" style="width:250px">
                    <img class="card-img-top" src="@Url.Content("~/Images/Courses/"+item.CourseImage) " height="150px">
                    <div class="card-body">
                        <p class="card-title text-primary" style="text-overflow:unset;">@item.CourseName</p>
                        <p class="card-text"><img class="rounded-circle" src="@Url.Content("~/Images/Teachers/"+item.tbl_User.UserImage) " height="40px" width="40px"> @item.tbl_User.UserName</p>
                        <p class="card-text text-muted" style="font-size:12px;">

                            @if (item.Pirce == null)
                            {
                                <span class="text-danger" style="font-weight:bold">Miễn phí</span>
                            }
                            else
                            {
                                if (item.Discount != null)
                                {
                                    <span class="text-primary"><strike>@string.Format("{0:0,0 VNĐ}", item.Pirce)</strike></span>
                                    <span class="text-danger ml-auto" style="float: right;">
                                        @{
                                            var Pirce = item.Pirce.Value * item.Discount.Value / 100;
                                            <span>@string.Format("{0:0,0 VNĐ}", item.Pirce - Pirce)</span>
                                        }
                                    </span>
                                }
                                else
                                {
                                    <span class="text-primary">@string.Format("{0:0,0 VNĐ}", item.Pirce)</span>
                                }

                            }

                        </p>
                    </div>
                </div>
            </a>
        }
    </div>
</div>
