﻿
@using CongNgheWeb_3_0.Models

@model CongNgheWeb_3_0.Models.LoginModel
@{ IEnumerable<tbl_Course> CourseNew = (IEnumerable<tbl_Course>)ViewBag.CourseNew;}
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<nav aria-label="breadcrumb">
    <ol class="breadcrumb ">
        <li class="breadcrumb-item text-white"><a href="@Url.Action("Index","Home")" style="color:#fff;">Trang chủ</a></li>
        <li class="breadcrumb-item text-white">Đăng nhập</li>
    </ol>
</nav>
<div class="card p-3 ml-1 mr-1">
    <div class="row">
        <div class="col-6">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <p class="text-primary font-weight-bold m-lg-3">Đăng nhập</p>
                    <div class="form-group">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-6" })
                        <span class="text-right" style="padding-left: 29px;">@Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger text-right" })</span>

                        <div class="col-md-12">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-6" })
                        <span class="text-right"> @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })</span>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })

                        </div>
                    </div>

                    <br />
                    <div class="form-group text-right">
                        <div class="row mr-1">
                            <div class="col-md-offset-2 col-md-8 text-danger">
                                @ViewBag.Status
                            </div>

                            <div class="col-md-offset-2 col-md-4">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-sign-in"></i> Đăng nhập
                                </button>

                            </div>
                            <div class="col-md-offset-2 col-md-12 text-center">
                                <a href="#" data-toggle="modal" data-target="#exampleModal">
                                    Quên mật khẩu?
                                </a>

                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-6 text-center pt-5">
            <img src="~/Images/logo - Copy.png" />
            <p style="font-size:30px; margin-left:33px;">Bạn muốn trở thành học viên</p>
            <a href="@Url.Action("Register","Home")" class="btn btn-primary">Đăng ký</a>
        </div>
    </div>
</div>
@Html.Partial("_PartialNewCourse", CourseNew)
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    @Html.BeginForm("ResetPassword", "Home", FormMethod.Post)
    {
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="exampleModalLabel">Quên mật khẩu?</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Email</label>
                <input type="email" name="Email" class="form-control" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="submit" class="btn btn-primary"><i class="fa fa-mail-reply"></i> Đồng ý</button>
            </div>
        </div>
    </div>
    }

</div>
<style>
    .breadcrumb {
        background-color: #2196F3;
    }

    .form-group {
        margin-bottom: 0px;
    }

    .form-control:focus {
        box-shadow: none;
    }

    .form-control {
        border-radius: 0px;
    }

    #tab {
        border-bottom: 1px solid #dee2e6;
        border-left: 1px solid #dee2e6;
        border-right: 1px solid #dee2e6;
        padding-left: 0px;
    }

    .nav-tabs .nav-link {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        background: #C60001;
        color: #fff;
    }

        .nav-tabs .nav-link:focus {
            background-color: forestgreen;
            color: #fff;
        }

    #tab .nav-item {
        float: left;
        width: 33.33%;
    }


    .card-deck .card {
        transition: .5s;
    }

    .card-deck .card:hover {
        margin-top: -10px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    .card-text {
        font-size: 13px;
    }
</style>


