﻿@using CongNgheWeb_3_0.Models
@model CongNgheWeb_3_0.Models.RegisterModel
@{ IEnumerable<tbl_Course> CourseNew = (IEnumerable<tbl_Course>)ViewBag.CourseNew;}
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<nav aria-label="breadcrumb">
    <ol class="breadcrumb ">
        <li class="breadcrumb-item text-white"><a href="@Url.Action("Index","Home")" style="color:#fff;">Trang chủ</a></li>
        <li class="breadcrumb-item text-white">Tạo tài khoản</li>
    </ol>
</nav>
<div class="card p-3 mt-2">
    <div class="row">
        <div class="col-5">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-2" })
                        <div class="col-md-12">
                            @ViewBag.Status
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control",@type = "email" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-10" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NumberPhone, htmlAttributes: new { @class = "control-label col-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.NumberPhone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NumberPhone, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <br />
                    <div class="form-group text-right">
                        <div class="row">

                            <div class="col-md-offset-2 col-12">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-registered"></i> Tạo tài khoản
                                </button>

                            </div>
                        </div>

                        <br />

                    </div>
                </div>
            }
        </div>
        <div class="col-7 text-center">
            <img src="~/Images/logo - Copy.png" />
            <br />
            <a href="@Url.Action("Login","Home")" class="btn btn-primary">Đăng nhập</a>
        </div>
        </div>
    </div>
@Html.Partial("_PartialNewCourse", CourseNew)

<style>
    .breadcrumb {
        background-color: #2196F3;
    }

    .form-group {
        margin-bottom: 0px;
    }

    .form-control:focus {
        box-shadow: none;
    }

    .form-control {
        border-radius: 0px;
    }

    #tab {
        border-bottom: 1px solid #dee2e6;
        border-left: 1px solid #dee2e6;
        border-right: 1px solid #dee2e6;
        padding-left: 0px;
    }

    .nav-tabs .nav-link {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        background: #C60001;
        color: #fff;
    }

        .nav-tabs .nav-link:focus {
            background-color: forestgreen;
            color: #fff;
        }

    #tab .nav-item {
        float: left;
        width: 33.33%;
    }

    .card-deck .card {
        transition: .5s;
    }

        .card-deck .card:hover {
            margin-top: -10px;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        }
</style>


