﻿@*@using CongNgheWeb_3_0.Models;
@model IEnumerable<tbl_Slide>
@{ IEnumerable<tbl_Course> CourseSaleOff = (IEnumerable<tbl_Course>)ViewBag.CourseSaleOff;}
<div class="card p-3 mt-2">
    <div class="row">
        <div class="col-6">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="@Url.Content("~/Images/Slides/"+ViewBag.FirstSlide)" />
                    </div>
                    @foreach (var item in Model)
                    {
                        <div class="carousel-item">
                            <img class="d-block w-100" src="@Url.Content("~/Images/Slides/"+item.SildeImage)" alt="First slide" />
                        </div>

                    }

                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-8 ml-2">
                    <i class="fa fa-bookmark fa-2x dot" style="background-color:#ff9900;"></i>
                    <span style="font-size:20px;">Các khóa học khuyến mãi</span>
                </div>

                <div class="col-3 text-right">
                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Xem thêm</a>
                </div>
            </div>
            <hr />
            <div class="row p-2">
                <div class="card-deck ml-3">
                    @{
                        foreach (var item in CourseSaleOff)
                        {
                            <a href="@Url.Action("DetailCourse","Home",new {@id=item.ID})">
                                <div class="card" id="card" style="width:200px">
                                    <img class="card-img-top" src="@Url.Content("~/Images/Courses/"+item.CourseImage) " height="100px">
                                    <div class="card-body">
                                        <p class="card-title text-primary">@item.CourseName</p>
                                        <p class="card-text text-muted" style="font-size:12px;">

                                            @if (item.Pirce == null)
                                            {
                                                <span class="text-danger" style="font-weight:bold">Các khóa học</span>
                                            }
                                            else
                                            {
                                                if (item.Discount != null)
                                                {
                                                    <span class="text-primary"><strike>@string.Format("{0:0,0 VNĐ}", item.Pirce)</strike></span>
                                                    <span class="text-danger ml-auto" style="float: right;">
                                                        @{
                                                            var Pirce = item.Pirce.Value * item.Discount.Value / 100;
                                                            <span>@string.Format("{0:0,0 VNĐ}", item.Pirce - Pirce)</span>
                                                        }
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span class="text-primary">@string.Format("{0:0,0 VNĐ}", item.Pirce)</span>
                                                }

                                            }

                                        </p>
                                    </div>
                                </div>
                            </a>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .carousel-inner img {
        width: 500px;
        height: 350px;
    }
    .card-title{
       height:50px;
       overflow:hidden;
    }
</style>*@


