﻿@model CongNgheWeb_3_0.Models.tbl_Course

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!--heder end here-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Trang chủ</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Course")">Các khóa học</a></li>
    <li class="breadcrumb-item">Xóa khóa học <strong>@Model.CourseName</strong> </li>
</ol>
<!--grid-->

<div class="agileinfo-grap text-center">
    <div class="agileits-box">
        <header class="agileits-box-header clearfix">
            <h3>Xóa khóa học <strong>@Model.CourseName</strong></h3>
        </header>
        <div class="agileits-box-body clearfix">
            <h3 class="text-danger">Bạn có muốn xóa khóa học <strong> @Model.CourseName</strong> không</h3>
            <hr />
            @using (Html.BeginForm())
            {
                <div class="form-group text-center">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-danger" value="Đồng ý"/>
                       
                        <a class="btn btn-success" href="@Url.Action("Edit", "Course", new { @id = Model.ID })">
                            Sửa
                        </a>
                        <a class="btn btn-primary" href="@Url.Action("Index", "Course")">
                            Về danh sách
                        </a>
                    </div>
                </div>
            }
            </div>
            </div>
        </div>

