﻿@model CongNgheWeb_3_0.Models.tbl_Course

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!--heder end here-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Trang chủ</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Course")">Các khóa học</a></li>
    <li class="breadcrumb-item">Chi tiết khóa học <strong>@Model.CourseName</strong> </li>
</ol>
<!--grid-->

<div class="agileinfo-grap text-center">
    <div class="agileits-box">
        <div class="agileits-box-body clearfix text-left">
            <div class="row">
                <div class="col-md-4">
                    <img src="@Url.Content("~/Images/Courses/"+Model.CourseImage)" width="200px" />
                    <p class="text-danger">@Html.DisplayFor(model => model.CourseName)</p>
                </div>
                <div class="col-md-4">
                    <p>
                        <i class="fa fa-user" style="color:cornflowerblue"></i>&nbsp;
                        <strong> @Html.DisplayFor(model => model.tbl_User.UserName)</strong>
                    </p>
                    <p>
                        <i class="fa fa-calendar" style="color:cornflowerblue"></i>&nbsp;
                        @Html.DisplayFor(model => model.CreateDate)
                    </p>
                    <p>
                        <i class="fa fa-money" style="color:cornflowerblue"></i>&nbsp;
                        @if (Model.Pirce == null)
                        {
                            <span class="badge badge-success">Miễn phí</span>
                        }
                        else
                        {
                            @Html.FormatValue(Model.Pirce, "{0:0,0 VNĐ}")
                        }
                    </p>
                    <p>
                        <span>Giảm giá</span>&nbsp;
                        @if (Model.Discount == null)
                        {
                            <span class="badge badge-success">Không</span>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => Model.Discount)
                        }
                    </p>
                </div>
                <div class="col-md-4">
                    <dl class="dl-horizontal">

                        <dd>
                            <i class="fa fa-eye" style="color:cornflowerblue"></i>&nbsp;
                            @Html.DisplayFor(model => model.TotalView)
                        </dd>

                        <dd>
                            <i class="fa fa-users" style="color:cornflowerblue"></i>&nbsp;
                            @Html.DisplayFor(model => model.TotalStudents)
                        </dd>

                        <dd>
                           <label>Trạng thái</label>
                            @if (Model.censored == true)
                            {
                                <span class="badge badge-success">Đã duyệt</span>
                            }
                            else
                            {
                                <span class="badge badge-danger">Chờ duyệt</span>
                            }
                        </dd>
                        <dd>
                            <a href="@Url.Action("Index","Lession",new {@id=Model.ID})" class="btn btn-primary"><span class="badge badge-light">@Model.tbl_Lession.Count()</span>  Bài học</a>
                        </dd>


                    </dl>
                </div>
            </div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model=>model.CourseDescription)
                </dt>

                <dd>
                    <span class="text-justify">@Html.Raw(Model.CourseDescription)</span>
                    
                </dd>
            </dl>
        </div>
        <footer>
            @using (Html.BeginForm())
            {
               

                <a class="btn btn-primary" href="@Url.Action("Index", "Course")">
                    Về danh sách
                </a>
            }


        </footer>
    </div>
</div>
<style>
    .agileits-box {
        padding: 50px;
    }
    
</style>