﻿@model CongNgheWeb_3_0.Models.tbl_Course

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!--heder end here-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Trang chủ</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Course")">Các khóa học</a></li>
    <li class="breadcrumb-item">Sửa khóa học <strong>@Model.CourseName</strong> </li>
</ol>
<div class="agileinfo-grap text-center">
    <div class="agileits-box">
        <div class="agileits-box-body clearfix text-left">
            @using (Html.BeginForm("Edit", "Course", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.CreateDate)
                @Html.HiddenFor(model => model.TotalStudents)
                @Html.HiddenFor(model => model.TotalView)
                @Html.HiddenFor(model => model.UserID)
                @Html.HiddenFor(model => model.CourseImage)
                @Html.HiddenFor(model => model.censored)

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CourseImage, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                <img src="@Url.Content("~/Images/Courses/"+ Model.CourseImage)" width="200px" />
                                <input type="file" name="CourseImage" />
                                @Html.ValidationMessageFor(model => model.CourseImage, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            @Html.LabelFor(model => model.MenuID, "Danh mục", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.DropDownList("MenuID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.MenuID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.CourseName, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.CourseName, new { htmlAttributes = new { @class = "form-control", @minlength = "30", @maxlenght = "4" +
                               "0" } })
                                @Html.ValidationMessageFor(model => model.CourseName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Pirce, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Pirce, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Pirce, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" >
                        <div class="form-group">
                            @Html.LabelFor(model => model.Discount, htmlAttributes: new { @class = "control-label col-md-10" })
                            <div class="input-group" style="display:inline;">
                                <select class="custom-select" id="inputGroupSelect02" style="width:200px" name="Discount">
                                    <option selected value="@Convert.ToInt32(Model.Discount)">@Model.Discount %</option>
                                    @{
                                        for (int i = 0; i <= 100; i++)
                                        {
                                            <option value="@i">@i%</option>
                                        }
                                    }
                                </select>
                                
                            </div>
                            @*@Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Discount, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CourseDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.CourseDescription, new { htmlAttributes = new { @class = "form-control" } })
                                <script type="text/javascript" language="javascript">
                            CKEDITOR.replace(@Html.IdFor(model => model.CourseDescription));
                                </script>
                            </div>
                        </div>
                    </div>
                </div>

                @*<div class="form-group">
            @Html.LabelFor(model => model.MenuID, "MenuID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MenuID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MenuID, "", new { @class = "text-danger" })
            </div>
        </div>*@
                
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Lưu" class="btn btn-danger" />
                        <a class="btn btn-primary" href="@Url.Action("Index","Course")">Về danh sách</a>
                        @ViewBag.Status
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
