﻿@model IEnumerable<CongNgheWeb_3_0.Models.tbl_Course>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!--heder end here-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Trang chủ</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Course")">Các khóa học</a></li>
</ol>
<!--grid-->
<!-- //tables -->

<div class="agile-grids">
    <div class="agile-tables">

        <div class="w3l-table-info">
            <h2>Danh sách các khóa học</h2>
            @*<br />
            <a class="btn btn-danger" href="@Url.Action("Create","Course")"><i class="fa fa-plus"></i> Thêm khóa học</a>*@
            <table id="example" class="display">
                <thead>
                    <tr>
                        <th width="50%">
                            @Html.DisplayNameFor(model => model.CourseName)
                        </th>

                        @*<th>
                            @Html.DisplayNameFor(model => model.Pirce)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Discount)
                        </th>*@
                        <th>
                            Danh mục
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.FirstOrDefault().tbl_Category.CategoryName)*@
                        </th>
                        <th>
                           Trạng thái
                        </th>
                        @*<th width="5%">Bài học</th>*@
                        <th width="5%">Hoạt động</th>
                        @*<th width="5%">Sửa</th>
        <th width="5%">Xóa</th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                         <tr>
                             <td>
                                @*@if (item.CourseName.Length > 20)
                                {
                                    @item.CourseName.Substring(0, 20)
                                }
                                else
                                {*@
                                    @Html.DisplayFor(modelItem => item.CourseName)
                                @*}*@

                             </td>
                            @*<td>
                                @if (item.Pirce == null)
                                {
                                    <span class="badge badge-success">Miễn phí</span>
                                }
                                else
                                {
                                    @Html.FormatValue(item.Pirce, "{0:0,0 VNĐ}")
                                }
                            </td>*@
                            @*<td>
                                @if (item.Discount == null)
                                {
                                    <span class="badge badge-success">Không</span>
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.Discount)
                                }
                            </td>*@
                             <td>
                                 @Html.DisplayFor(modelItem => item.tbl_Menu.MenuName)
                             </td>
                           
                            <td>
                                @*@Html.DisplayFor(modelItem => item.tbl_Category.CategoryName)*@
                            </td>

                            <td>
                                @if (item.censored == true)
                                {
                                    <a href="@Url.Action("Censored", "Course", new {item.ID})">
                                        <span><i class="fa fa-check" style="color:#0066cc;"></i></span>
                                    </a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Censored", "Course", new {item.ID})">
                                        <span><i class="fa fa-times" style="color:#cc0000;"></i></span>
                                    </a>
                                }
                            </td>
                            @*<td>
                                <a href="@Url.Action("Index","Lession",new {@id=item.ID})" class="btn btn-success btn-sm" style=" border-radius:5px;"><span class="badge badge-light">@item.tbl_Lession.Count()</span>  Bài học</a>
                            </td>*@
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a href="@Url.Action("Details","Course",new {@id=item.ID})" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Chi tiết">
                                        <i class="fa fa-info-circle" style="color: #fff;"></i>
                                    </a>
                                    @*<a href="@Url.Action("Edit","Course",new {@id=item.ID})" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Sửa">
                                        <i class="fa fa-edit" style="color: #fff;"></i>
                                    </a>
                                    <a href="@Url.Action("Delete","Course",new {@id=item.ID})" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Xóa">
                                        <i class="fa fa-trash-o" style="color: #fff;"></i>
                                    </a>*@
                                </div>
                            </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



